[2019-12-23 01:30] Torgian opened #1 "update site theme"
Change site theme to match Marc's sketch outline

[2020-01-16 12:39] #1 closed, assigned to nobody

[2020-01-16 12:41] Torgian opened #3 "Fix visual bugs on home"
- [x] Safari doesn't load main.css, but Chrome does.
- [x] Missing image. Change it to match design.
- [x] Minor visual bugs.

[2020-01-16 12:46] martinheidegger commented on #3
This refers to PR #1

[2020-01-16 12:59] Torgian commented on #3
Minor visual bugs are in mobile view for the most part. Button spacing and some text spacing.

[2020-01-17 02:17] Torgian commented on #3
Finished up fixing a bunch of visual bugs ( especially in mobile view ).

As of this comment: I have made mobile view remove a bunch of spacing that only looks good on desktop mode. Media query is currently set to remove desktop spacing up to 500 pixels in width. This can be changed easily as we test.

Right now, I'm trying to figure out why Safari won't load main.css, but I am unable to reproduce

[2020-01-17 02:28] Torgian commented on #3
Fixed the css mapping bug. Apparently this is a bug with Ghost's main.css file.

At the end of the file, we have this line:

[code]

While Chrome sees this as a comment, Safari does not. Removing the `#` will tell Safari that this is a comment. Removing this hash does not affect Chrome either, so I have removed this #. I have also removed it from the bootstrap.min.css and .js files

As far as I ca

[2020-01-17 02:54] #3 closed, assigned to nobody

[2020-01-17 02:56] Torgian opened #4 "Replace sidebar with top navigation bar"
Currently the sidebar seems ok on desktop, but on mobile it's troublesome.

A couple of options would be to keep the sidebar on desktop, but replace it with a hamburger top bar on mobile. Or, completely replace it with a navigation top bar on desktop that turns into hamburger mode on mobile.

Related to PR 1

[2020-01-17 02:56] Torgian opened #5 "Stylize About and Team pages"

[2020-01-17 03:01] Torgian opened #6 "Fix colors"
Make sure colors match Marc's color palette.

[2020-01-17 05:12] Torgian commented on #4
Working on this now. Currently using a basic Bootstrap 4 top navigation bar that collapses into a hamburger style for mobile view. I think this is probably the best ( and simplest ) version we can go for.

[2020-01-17 06:39] Torgian commented on #5
Related to PR 1, ongoing conversation at #2

[2020-01-17 06:39] Torgian commented on #6
Related to PR 1, ongoing conversation at #2

[2020-01-20 08:36] Torgian commented on #4
Merged into develop

[2020-01-20 08:36] #4 closed, assigned to nobody

[2020-01-20 10:51] martinheidegger commented on #4
On the testserver?

[2020-01-22 01:25] Torgian opened #7 "modify top bar"
Top bar needs a shadow, and should hover up top when scrolling.

[2020-01-23 02:38] #7 closed, assigned to nobody

[2020-01-23 02:39] Torgian opened #8 "Fix javascript bug, modify fonts"

[2020-01-25 06:49] #8 closed, assigned to nobody

[2020-01-25 06:51] Torgian opened #9 "minor styling issues"
There are some minor styling issues on the home page. Spacing is incorrect in How It Works. Also, the Team, About, and Support pages need to be modified, but these are dynamically created by Ghost's pages.

[2020-01-27 05:23] marcchataigner-zz commented on #9
- [ ] link to form > opens in new tab
- [ ] link to Mailchimp contact form > opens in a new tab
- [ ] top navbar. Is it possible to add a 'dowload' Call-To-Action?
- [ ] top navbar. It disapears when scrolling down. Could it simply shrink and always stay? (you may have been discussing with Tanja about that alred, sorry)
- [ ] main page, the Call-To-Action hoover is a bit scary with the red on bleu

[2020-01-27 14:25] Torgian commented on #9
Fro the break space for the two issues above, I did so, but not sure if it's satisfactory. Please check.

  I've made the text centered on mobile and left aligned on desktop. Please let me know if this is good for you.

     For contact, do you mean subject?

[2020-01-30 01:57] Torgian commented on #9
For the Credit page, we can either make a page locally, or use the ghost admin page to make it.

[2020-01-31 03:27] dkastl opened #10 "Add H2020 funding note"
Add the following sentence to the project website:

Together with the EU emblem and LEDGER logo:

![Screenshot from 2020-01-31 12-25-41](https://user-images.githubusercontent.com/227762/73510231-d4ec7880-4424-11ea-836d-85d5c9167f98.png)
(this is just a screenshot, use original logos with appropriate quality)

[2020-01-31 03:35] dkastl commented on #10
@Torgian , would be able to assign this to you, if you accept the invitation to the Consento Github group.

[2020-01-31 04:21] Torgian commented on #10
Ok I will add this and also look for the email with the invitation. I will be doing most of my work today this afternoon and evening

Sent from my iPhone

[2020-01-31 04:57] dkastl commented on #10
Here is an example on the mobile repo: https://github.com/consento-org/mobile/pull/44

[2020-01-31 06:38] Torgian commented on #10
@dkastl  Can you send the invite to me again? I can’t seem to find it in my inbox or spam folders.

[2020-02-01 05:26] Torgian commented on #10
FYI, I have updated the server with the note and images.

[2020-02-01 14:42] dkastl opened #11 "Navigation bar styling"
Here is a list of immprovements for the navigation bar:

- [x] On lager screens the current navigation bar does not look good, because the content and footer have a fix width and the navigation bar is 100% of the screen:

![Screenshot from 2020-02-01 23-35-08](https://user-images.githubusercontent.com/227762/73593841-97363f80-454b-11ea-89aa-72401c87c480.png)

- [x] The spaces between navigation ba

[2020-02-01 14:57] dkastl opened #12 "Mobile size layout"
The mobile layout has a few issues, mostly spacing. The following screenshot shows a few and I added comments in red. But this might not be all as the screenshot ends in the middle.

In general the mobile view has problems with:

- [x] Spacing is often not right and it even appears sometimes that content belongs to the wrong picture or headline. Make blocks visually belong together.

- [x] When co

[2020-02-01 15:02] dkastl opened #13 "Tablet style fixes"
See the comments in the screnshot

![capture_ipad](https://user-images.githubusercontent.com/227762/73594186-3a3c8880-454f-11ea-93ee-0e848697f333.png)

[2020-02-01 15:06] dkastl opened #14 "Naming fixes"
I would suggest a few naming changes:

- Button/link `Git` -> `Source Code` or `Open Source`
- Button/link `Keybase` -> `Chat channel`

[2020-02-03 00:28] marcchataigner-zz commented on #6
Those are Tanja recommended: https://zpl.io/anEEP9J

[code]

[2020-02-03 00:31] Torgian commented on #11
I'm working on the other issues right now, but the following issue:

``` On lager screens the current navigation bar does not look good, because the content and footer have a fix width and the navigation bar is 100% of the screen:```

I will fix this last, since it will require the most testing.

[2020-02-03 01:35] marcchataigner-zz commented on #13
@Torgian would it be possible to add background colours for sections?

Like:

![Screen Shot 2020-02-03 at 10 35 31](https://user-images.githubusercontent.com/3974900/73619483-ec1fa600-4670-11ea-9113-9d2a84317ea6.png)

[2020-02-03 01:40] marcchataigner-zz opened #15 "Font sizes"
could it be possible to make a try to downsize button label and body fonts?

Button label: 24pt > 21pt
Body: 21pt > 18pt

[2020-02-03 01:43] Torgian commented on #12
I've been working on this, and I think I will have to spend a bit more time to get it to look _just_ right. At the moment, I have images showing up on the bottom of each section, and I also plan to add a light background color to give some separation between blocks.

However, due to the spacing issues, I need to spend a bit extra time to change some things since some of spacing classes don't work

[2020-02-03 01:46] marcchataigner-zz commented on #11
Update proposal:

The font for `about`, `supporters`, `team` and `download` switch:
- [ ] from  `bold` >  `medium`
- [ ] remove `smallcap`

[2020-02-03 01:58] Torgian commented on #13
Background colors could work, but the problem is that some of the images need to be converted to pngs that do not show a white background. Unfortunately, whenever I optimize the images for size, the transparent background is removed and replaced with a white background.

I am thinking of just using horizontal breaks instead.

[2020-02-03 02:13] marcchataigner-zz commented on #11
Proposal.  @Torgian would that help?

![Navbar specifications](https://user-images.githubusercontent.com/3974900/73620622-19bb1e00-4676-11ea-8270-8804cac26180.png)

[2020-02-03 02:14] Torgian commented on #11
Daniel already stated he didn’t want the Navbar to collapse while scrolling, so I removed that functionality.

[2020-02-03 03:02] marcchataigner-zz commented on #12
@Torgian I quickly tried to set up a mobile version in Zeplin, would that hep?

https://zpl.io/VxXe8QR

[2020-02-03 03:04] marcchataigner-zz opened #16 "Implemented new illustrations"
- [ ] hero
- [ ] roadmap
- [ ] usecase 1 & 2
- [ ] NGI logo in color and in white (for footer)

[2020-02-03 03:06] Torgian commented on #12
Please wait. I am finishing up what I currently made and will put it on the server soon. It includes some spacing fixes as well.

[2020-02-03 03:08] marcchataigner-zz opened #17 "Lines of codes in 'our technology' section"
@martinheidegger The idea was to display some cool lines of codes here, to show off a bit.  :-)   For non-technical people like me, it looks like complicated and serious. For expert people, it might be reassuring to have a sneak peak on 1 key property of the code. Like encryption protocol? Or shamir secret? ...  Would you have an idea?

ex:

- https://www.vaultproject.io

[2020-02-03 03:09] marcchataigner-zz opened #18 "center value section"
If it is possible, center the 2nd line of the value section.

![Screen Shot 2020-02-03 at 12 09 27](https://user-images.githubusercontent.com/3974900/73622859-0f048700-467e-11ea-9fcb-6b4c4788fb3d.png)

[2020-02-03 03:13] marcchataigner-zz opened #19 "width of the subscribe page"
is it possible to set the `subscribe` page max-width 640px for instance? or a bit larger if it looks to large, or bug on mobile page.

[code]

[2020-02-03 03:15] Torgian commented on #16
Please send me a link to the new images

[2020-02-03 03:15] Torgian commented on #15
Let's wait until after the redesign before changing fonts. Mobile / tablet redesign might change the look a bit.

[2020-02-03 03:20] marcchataigner-zz opened #20 "Supporter page"
Supporter page: https://zpl.io/VDw9lA3

- [x] add 'consento receive funding part'
- [x] Here could be a way to improve the spacing (cf. PNG)

![Screen Shot 2020-02-03 at 12 16 09](https://user-images.githubusercontent.com/3974900/73623196-7d961480-467f-11ea-9c94-31f228222ad9.png)

![Screen Shot 2020-02-03 at 12 16 16](https://user-images.githubusercontent.com/3974900/73623235-9dc5d380-467f-11ea-83

[2020-02-03 03:22] Torgian commented on #20
Before we do a bunch of styling changes for these other pages, remember that these are dynamically created by Ghost. (About, Supporters, Team, Credits)

I can change some styling, but these will need to be tested on the server. So we should keep styling changes minimal.

[2020-02-03 03:44] Torgian commented on #20
I will work on this and fix the spacing issues tonight on all of the dynamically created pages.

[2020-02-03 03:44] Torgian commented on #19
I'll fix this tonight.

[2020-02-03 03:47] Torgian commented on #18
I don't actually understand what you mean by centering the second line.

The problem with this is that there are only five icons. The bottom row can either be left aligned, centered, or right aligned. The other option is to change the styling overall: 2x2x1, with the last row being centered.

Or, we can make them all smaller on larger desktop mode, and have all five in a single row.

There are a f

[2020-02-03 03:48] Torgian commented on #15
Let me know if you still want to change some of the font-sizes after looking at the mobile / tablet redesign.

[2020-02-03 03:50] Torgian commented on #11
Screenshot from 2020-02-01 23-35-08

This will be finished after other issues are taken care of.

[2020-02-03 03:51] #5 closed, assigned to nobody

[2020-02-03 03:51] #10 closed, assigned to nobody

[2020-02-03 03:51] #9 closed, assigned to nobody

[2020-02-03 07:17] Torgian commented on #20
Consento received funding has already been added a few days ago.

[2020-02-03 07:22] Torgian commented on #20
Added code to fix this styling. I will need to upload to server to test, but doing so in the inspector looks good. Made the changes and will update server soon

[2020-02-03 07:23] Torgian commented on #12
This is finished.

[2020-02-03 07:24] Torgian commented on #13
Majority of this is fixed.

[2020-02-03 07:24] Torgian commented on #14
Fixed as of next server update. Closing.

[2020-02-03 07:24] #14 closed, assigned to nobody

[2020-02-03 08:23] Torgian commented on #19
Fixed, closing.

[2020-02-03 08:23] #19 closed, assigned to nobody

[2020-02-03 08:23] Torgian commented on #20
Fixed, closing.

[2020-02-03 08:23] #20 closed, assigned to nobody

[2020-02-03 09:01] Torgian commented on #11
I have two screenshots.  Which style of nav bar do you prefer?

Here i have a screenshot where the max width of the nav-bar and the footer is just slightly larger than the containers in the rest of the page.

<img width="893" alt="Screen Shot 2020-02-03 at 4 55 04 PM" src="https://user-images.githubusercontent.com/8596793/73639149-c6ad8f00-46a6-11ea-92d1-f1528086d754.png">

The second one is where

[2020-02-03 09:09] Torgian commented on #11
From feedback with marc and Tanja, I will make it match the second screenshot. Funding text is fixed as well. Closing issue.

[2020-02-03 09:09] #11 closed, assigned to Torgian

[2020-02-04 06:50] Tannybunny commented on #16
I pushed them to github .. (i think... let me know if it didnt work ^^)

[2020-02-04 06:58] Tannybunny opened #21 ""How it works" images are blurred"
<img width="1093" alt="Screen Shot 2020-02-04 at 15 54 41" src="https://user-images.githubusercontent.com/51223963/73721171-00de6580-4767-11ea-8bd6-4e6df5d81438.png">

The images are not sharp - I don't know if it's due to low resolution or changing the size via HTML? I pushed higher resolutions of these images to git, in case they are needed

[2020-02-04 07:35] Tannybunny opened #22 "Navigation Bar Logo Spacing"
<img width="1211" alt="Screen Shot 2020-02-04 at 16 05 26 copy" src="https://user-images.githubusercontent.com/51223963/73722848-ce366c00-476a-11ea-92ff-0abc43bb1086.png">

In the current navigation bar the logo seems to be a bit off - there is more space to the bottom than to the top. Might this be due to some spacing issues in the logo.png ?

Same in the mobile version:
<img width="1059" alt="Sc

[2020-02-04 07:50] Tannybunny opened #23 "Navigation Bar Styling"
The current style with the grey background and dark grey border doesn't look so modern ..
I suggest a white background and a very subtle shadow like this
`box-shadow: 0 0 4px #00000038;`
It also helps to indicate the navigation bar is on a different layer than the content / elevated

like this:
<img width="1218" alt="Screen Shot 2020-02-04 at 16 11 38_menu" src="https://user-images.githubuserconte

[2020-02-04 07:54] Tannybunny commented on #22
Also, why did you remove the fading of the navigation bar while scrolling ?

[2020-02-04 08:08] Tannybunny opened #24 "Top Page Layout, Image, Fonts"
<img width="1680" alt="Screen Shot 2020-02-04 at 17 02 46" src="https://user-images.githubusercontent.com/51223963/73725254-5cf9b780-4770-11ea-979b-053dd18a1420.png">

I made a suggestion for the top page. The illustration was uploaded into git ("privacy by design.png")
The button should be closer to the text - at the moment, there is a huge gap.

Also, as mentioned in #15 , the font system should

[2020-02-04 09:22] Torgian commented on #21
Ahh, I know why this is; early in development, we needed to reduce the size of all the images; in turn, this has made the quality drop. I will grab your higher resolution versions and compare their sizes, and see if I can find a middle ground ( if needed )

[2020-02-04 09:24] Torgian commented on #22
This is something that has actually changed twice: First, Marc suggested we reduce the size of the nabber when scrolling ( instead of it fading away ), and then Daniel did not like this. So I made a decision to keep the nav bar sticky on top; no special animations, no fading.

We will keep it like this until other major issues are fixed. It's easy enough to change, but a decision needed to be made

[2020-02-04 09:25] Torgian commented on #23
Good idea, I like this

[2020-02-04 09:26] Torgian commented on #24
Ok, will do. I had originally made the button farther to the bottom, since that was in Marc's original design ( I suppose it has changed now )

[2020-02-04 14:30] codingjustahobby commented on #21
I don't really know , but I have a guess and according to what I see , I think my guess is accurate . If you know python then you can check my repository on blurring images , it works.  If you don't python I have explained my algorithm in a txt file

[2020-02-04 14:31] codingjustahobby commented on #21
That is how I think images are being blurred

[2020-02-04 15:53] Torgian commented on #24
So I have followed the font sizes on Marc's Zeppelin design and have also added the new images. Closing this issue.

[2020-02-04 15:53] #24 closed, assigned to nobody

[2020-02-04 15:53] Torgian commented on #21
Replaced images. Doesn't look blurry on large screens. Closing.

[2020-02-04 15:54] Torgian commented on #16
Added new images, closing.

[2020-02-04 15:54] #16 closed, assigned to nobody

[2020-02-04 15:55] Torgian commented on #15
I've replaced the font sizes, etc, with the one in @marcchataigner design. Please reopen and comment if this continues to be an issue.

[2020-02-04 15:55] #15 closed, assigned to nobody

[2020-02-04 15:56] Torgian commented on #13
I've done quite a lot of changes tonight, so please double check.

[2020-02-04 15:56] Torgian commented on #12
I've done quite a lot of changes tonight, so please double check.

[2020-02-04 16:08] Torgian commented on #13
For tablet mode, look into the sections with 4 icons and 5 icons. Make the 4 icons into a 2x2 section, and the 5 icons into either a 2x2x1, or a 2x1x2 section.

[2020-02-04 16:11] Torgian commented on #13
Also look into centering certain elements to look cleaner in tablet mode. Up to 768px should be ok. Don't forget to double check landscape mode.

[2020-02-04 16:20] martinheidegger commented on #18
@marcchataigner Please always submit a _is_ and _want_ screen as it is hard to keep track of which version you are talking about _(many updates)_ and what issue you are seeing.

Currently it looks in firefox like ↓ for me and here the second line is centered pretty much like you requested.

<img width="600" alt="Screen Shot 2020-02-05 at 01 18 30" src="https://user-images.githubusercontent.com/914

[2020-02-04 16:31] martinheidegger commented on #17
The code displayed at `vaultproject` is actually functioning code that can be copy & pasted which makes it accessible & awesome by design.

We do not have an API or simple thing that can be used out of the box. This will - at best - fool a non-tech person.

This might be a string you are looking for, but I suggest to work on the concept:

https://github.com/consento-org/crypto/blob/f61fbdec78f1ca2

[2020-02-04 17:04] marcchataigner-zz commented on #17
Thx.   :-)

[2020-02-04 17:07] marcchataigner-zz commented on #17
@Torgian for the 'technology' part, the box where to display some cool lines of code.  :-)

[code]

[2020-02-04 17:09] marcchataigner-zz commented on #18
@martinheidegger Nathaniel already did the update, that's why.  :-)   He's quick

[2020-02-04 17:11] martinheidegger commented on #18
@marcchataigner so this is fixed?

[2020-02-04 17:12] #18 closed, assigned to nobody

[2020-02-04 22:22] Torgian commented on #13
In landscape mode, hamburger menu shows navigation items floating right. Needs to be centered.

[2020-02-04 22:35] Torgian opened #25 "Fix buttons"
Buttons have reverted back to previous hover style ( red text on hover ) Replace with white text.

[2020-02-04 22:50] Torgian commented on #22
Fixed brand spacing

[2020-02-04 22:57] Torgian commented on #22
border removed. I've kept default behavior so that on hover, the hamburger icon glows a very slight color.  I also made the bars slightly longer.

[2020-02-04 23:04] Torgian commented on #23
I've applied this styling and adjusted the box-shadow.

[2020-02-04 23:11] Torgian commented on #22
In mobile view, after you click the hamburger icon, the menu shows. I added a little big of padding on the bottom of the menu to put a little space between the bottom of the download button and the bottom of the menu. Please check.

[2020-02-04 23:30] Torgian commented on #17
I've added this code block. Due to the nature of the `<code>` tag, it will still scroll horizontally.

[2020-02-04 23:57] Torgian commented on #13
Tablet mode: How it works and Our Values have changed. How it works is now 2x2 on anything other than large screens. Our Values is now 2x2x1, with the bottom element centered.

Other issues fixed.

[2020-02-05 00:04] Torgian commented on #13
I think tablet mode still needs a couple of elements centered to look better. Some images get too small in tablet mode, so I will center these to look more like it does in mobile.

[2020-02-05 00:06] #17 closed, assigned to Torgian

[2020-02-05 00:06] #25 closed, assigned to nobody

[2020-02-05 00:06] Torgian commented on #12
I am closing this since mobile seems to be ok now. Please reopen and comment if something else's found.

[2020-02-05 00:06] #12 closed, assigned to Torgian

[2020-02-05 00:07] #23 closed, assigned to nobody

[2020-02-05 04:02] Tannybunny commented on #21
The images are still blurred - but I guess the problem is the mac retina display. So in ordner to have sharp images on mac (iMac, macbook pro) we need to provide an image with double the size probably. OR: we use svgs. Second option might be better? Or are there any concerns with using svgs?

[2020-02-05 04:05] Torgian commented on #21
I think the resolution might be too low for the size we want. I will switch to a higher resolution version. I didn’t really see it before, but I can see it now.

I am working on CTI at the moment, but will get back to this later today.

Sent from my iPhone

[2020-02-05 04:59] martinheidegger commented on #21
@Torgian you do not need to update the issues with estimates, just upload the files.

About this issue, you need to prepare and use the images in multiple resolutions, similar like we do in the mobile app, aside from that it a reduction of size particularly of this kind of image is easiest achieve using the Mac tool [ImageAlpha](https://pngmini.com/)

[2020-02-05 05:03] martinheidegger commented on #21
@Tannybunny It might be a good idea to prepare a .sketch file that contains all files to export in all the given resolutions.

[2020-02-05 05:03] Torgian commented on #21
Yes, I used image Alpha before for size reduction. But, I’m wondering, is it really ok to upload several resolutions of the same image?

Wouldn’t the user need to download all those images when they visit the site? I assume that they’ll be cached for future visits, but I’m wondering if it’s better to just upload one image that can be used for all sizes, or upload multiple images of differing resol

[2020-02-05 05:04] Torgian commented on #21
@martinheidegger I actually already have all the images in three different sizes ( Zepplin already provides them )

[2020-02-05 05:05] martinheidegger commented on #21
[Responsive Images](https://developer.mozilla.org/en-US/docs/Learn/HTML/Multimedia_and_embedding/Responsive_images) get only downloaded when the size is required, not all sizes will be downloaded, browsers are clever like that.

[2020-02-05 05:06] martinheidegger commented on #21
It would still be good to have the sketch file in the same location as the other source code.

[2020-02-05 05:07] Torgian commented on #21
Ahh ok, I was unaware. Thank you. I'll read the link you sent too.

[2020-02-05 05:08] martinheidegger opened #26 "HTML code for the roadmap"
Currently the roadmap is added as an image. It would be good if that were html code that can be copy/pasted and linked (maybe to github issues).

[2020-02-05 05:10] martinheidegger opened #27 "Funding text is too big"
The funding text in the footer is way too big, @Tannybunny what would be a good size?

<img width="938" alt="Screen Shot 2020-02-05 at 08 06 24" src="https://user-images.githubusercontent.com/914122/73812697-1617ca80-4821-11ea-98b8-e48d3ee1c8a6.png">

[2020-02-05 05:10] martinheidegger opened #28 "Social icons are grey, should be white"
<img width="277" alt="Screen Shot 2020-02-05 at 14 10 39" src="https://user-images.githubusercontent.com/914122/73812769-50816780-4821-11ea-9403-fbbf8c470a27.png">

[2020-02-05 05:12] Torgian commented on #26
Yeah, I like that idea. I'll work on this after other issues are resolved.

[2020-02-05 05:13] Torgian commented on #27
This is a good point; I don’t know if there are any legal requirements for how big it needs to be. Otherwise, I suggest we reduce the font size. As of now, it’s similar to Marc’s design.

@Tannybunny @marcchataigner let me know what you decide

[2020-02-05 05:14] martinheidegger opened #29 "The EU logo needs to have the correct size"
Currently the EU logo is square and not proportionally sized in comparison with the NGI ledger logo:

<img width="938" alt="Screen Shot 2020-02-05 at 08 06 24" src="https://user-images.githubusercontent.com/914122/73812814-80306f80-4821-11ea-9c70-f1619e0dc0bc.png">

The correct logo is seen here:

https://ec.europa.eu/inea/en/connecting-europe-facility/cef-energy/beneficiaries-info-point/publicity

[2020-02-05 05:14] martinheidegger commented on #27
@Torgian I have never seen a design that shows the text in this size, please add a link to it.

[2020-02-05 05:15] Torgian commented on #28
Yes, in the original design they were grey in the top bar; it makes sense to change them to white since they are in the footer now.

[2020-02-05 05:16] martinheidegger opened #30 "New Favicon"
The site still boasts a the old favicon.

<img width="103" alt="Screen Shot 2020-02-05 at 08 04 17" src="https://user-images.githubusercontent.com/914122/73812973-ff25a800-4821-11ea-8ec0-b21372ec64a0.png">

This is also true for other consento icons:

https://github.com/consento-org/consento-website/blob/80d86a885dc9a368dcdeed9f3c90cd1a2cfe5165/default.hbs#L13-L23

[2020-02-05 05:18] Torgian commented on #27
https://app.zeplin.io/project/5e008395a3e2aa1c6777a029/screen/5e27f7337b308098ebf9254c

[2020-02-05 05:19] martinheidegger opened #31 "No red-on-blue text"
The hover style of the links in the footer is hurting the eyes. This needs to look different.

@consento-org/design  do you have a nice proposal for this?

<img width="172" alt="Screen Shot 2020-02-05 at 14 18 03" src="https://user-images.githubusercontent.com/914122/73813114-5deb2180-4822-11ea-91b1-a391b5114f5f.png">

[2020-02-05 05:20] Torgian commented on #27
The design calls for 21px for the font size. I think 15px might be a better size.

[2020-02-05 05:22] Torgian commented on #31
I thought it was rather nice. :-)

Maybe changing opacity on hover would be best

[2020-02-05 05:23] martinheidegger opened #32 "Font in top menu not elegant"
Currently the font in the top menu looks like this:

<img width="437" alt="Screen Shot 2020-02-05 at 14 19 44" src="https://user-images.githubusercontent.com/914122/73813207-a0146300-4822-11ea-8b2f-3f11d72886f2.png">

However, in previous designs that did not have a _brutal_ font, no uppercase letters, a smaller size and better spacing: https://github.com/consento-org/consento-website/issues/11#is

[2020-02-05 05:27] martinheidegger commented on #31
@Torgian Design theory to read up on:

([blog post explaining basics](https://fontbundles.net/blog/ask-a-font-creator-basic-color-theory))

([other, more technical blog post](https://www.designworkplan.com/read/signage-and-color-contrast))

[2020-02-05 05:28] Torgian commented on #32
My mistake, I overlooked this even though it's in the new design. Note: WorkSans-Medium, 21px, 27px line height, rgba(70,70,70,0.87)

[2020-02-05 05:30] martinheidegger opened #33 "Remove shadow when not scrolling from menu"
@consento-org/design  correct me if I am wrong, but as far as I understand the shadow below the menu should only be there when the site is not scrolled to top, right?

[2020-02-05 05:35] martinheidegger opened #34 "Proper code coloring"
@consento-org/design If you want for the "technology" section to look a little bit impressive we should really have proper code coloring and a link to the section in our repository.

@Torgian there are online tools that can render code pre-colored (no javascript runtime needed). Maybe they also come with a set of color palettes to choose from.

<img width="587" alt="Screen Shot 2020-02-05 at 14 31

[2020-02-05 05:38] martinheidegger opened #35 "Avoid multiple lines in headlines above illustrations"
Depending on the screen resolution (but particularly on desktop) the titles above images
are wrapped and a second line can appear.

<img width="381" alt="Screen Shot 2020-02-05 at 07 59 45" src="https://user-images.githubusercontent.com/914122/73813941-eff42980-4824-11ea-826f-3d46d21cb065.png" >

This result in an uneven layout

<img width="1144" alt="Screen Shot 2020-02-05 at 14 37 42" src="https

[2020-02-05 05:41] Torgian commented on #35
Yes, this is an issue I've been trying to figure out, specifically for that forth image. Bootstrap grid layout (specifically col-md-3) are too narrow for the title of "Private network" to stay on one line, at least at this font size.

Keeping this section in a 2x2 layout may be easier to deal with in this case, or perhaps reducing the font size. Unless you know of another method we can use?

[2020-02-05 05:42] Torgian commented on #34
Agreed, I'll take a look.

[2020-02-05 05:43] martinheidegger opened #36 "Android phone instead of iPhone"
The App only runs on android at the moment and imo. the Android phone looks nicer.

iPhone
<img width="200" alt="Screen Shot 2020-02-05 at 14 42 59" src="https://user-images.githubusercontent.com/914122/73814244-d3a4bc80-4825-11ea-9302-c7a2add039ff.png">

Android, used in the overview document: https://github.com/consento-org/mobile/blob/next/docs/overview.pdf

[2020-02-05 05:45] martinheidegger commented on #35
As the size of the box is always bound to the size of the content, I believe it is unavoidable to reduce the font size to fit the size of the illustration.

[2020-02-05 05:48] martinheidegger opened #37 ""Stay Updated" needs new target"
The link on the "Stay Updated" points to a `./mailform` which is not available when published to dat. We need another "mailinglist" signup formular.

[2020-02-05 05:50] martinheidegger opened #38 "Autor display in blog posts are blue"
On a blog article with authors, like on `./blog/funding-ngi-2019/`, the authors are displayed in blue:

<img width="749" alt="Screen Shot 2020-02-05 at 08 08 47" src="https://user-images.githubusercontent.com/914122/73814536-b7ede600-4826-11ea-8530-e6dc006687dc.png">

[2020-02-05 05:50] martinheidegger commented on #38
@consento-org/design Can you send a quick layout for this?

[2020-02-05 05:53] martinheidegger opened #39 "Link to Funding"
Like in the readme of the mobile app, the funding information should link to the funding program:

https://github.com/consento-org/mobile#funding

- EU: https://ec.europa.eu/info/
- Ledger: https://www.ngi.eu/about/ledger/
- H2020: https://ec.europa.eu/programmes/horizon2020/
- Project: https://cordis.europa.eu/project/id/825268

[2020-02-05 05:54] martinheidegger opened #40 "Blog Menu Button"
The "Blog" button seems to have been dropped in the menu?

Next:
<img width="436" alt="Screen Shot 2020-02-05 at 14 54 01" src="https://user-images.githubusercontent.com/914122/73814776-5ed28200-4827-11ea-9441-8eb31919312a.png">

Master:

<img width="144" alt="Screen Shot 2020-02-05 at 14 54 33" src="https://user-images.githubusercontent.com/914122/73814805-73af1580-4827-11ea-805f-784537fb1627.png

[2020-02-05 05:55] Torgian commented on #27
This is font-size 16px. What do you think?

<img width="1188" alt="Screen Shot 2020-02-05 at 1 54 50 PM" src="https://user-images.githubusercontent.com/8596793/73814824-1d3dd900-481f-11ea-971c-9a008efada45.png">

[2020-02-05 05:57] Torgian commented on #39
Got it, thanks.

[2020-02-05 05:57] martinheidegger opened #41 "Quote has wrong font"
In the `./about` page we have a quote and it is rendered with the wrong/old font:

<img width="758" alt="Screen Shot 2020-02-05 at 14 56 49" src="https://user-images.githubusercontent.com/914122/73814927-c4bf0980-4827-11ea-8b79-f710b81829a1.png">

[2020-02-05 05:58] martinheidegger commented on #41
Same applies to captions and li elements

<img width="755" alt="Screen Shot 2020-02-05 at 14 57 53" src="https://user-images.githubusercontent.com/914122/73814983-ee783080-4827-11ea-94f0-f396349b9250.png">
<img width="766" alt="Screen Shot 2020-02-05 at 14 57 44" src="https://user-images.githubusercontent.com/914122/73814990-f0da8a80-4827-11ea-82c7-fcebf69d44a2.png">

[2020-02-05 06:02] martinheidegger commented on #27
In the zepplin file, the link size/title size ratio is different, the title font is "Bold" not "ExtraBold" and the lineheight is very different, giving a more compact image.

<img width="1040" alt="Screen Shot 2020-02-05 at 14 59 37" src="https://user-images.githubusercontent.com/914122/73815056-28e1cd80-4828-11ea-9c19-c37e9c43a788.png">

[2020-02-05 06:05] marcchataigner-zz commented on #38
https://github.com/consento-org/consento-website/issues/38#issuecomment-582251858

you mean a design on white background?

[2020-02-05 06:08] Tannybunny commented on #21
@martinheidegger ok I can prepare the sketch file. How about using SVG though ?

[2020-02-05 06:13] martinheidegger commented on #38
Yes, very simple

[2020-02-05 06:16] Torgian commented on #27
I will need to use a lighter Work Sans font then; WorkSans regular is too heavy; it looks like the footer should use Work Sans Light, although it's not specified. Otherwise, font size, weight and line height matches the document. I'll send a screenshot after I make the change locally.

[2020-02-05 06:16] martinheidegger opened #42 "CSS != SASS"
https://github.com/consento-org/consento-website/blob/83388cf4ed6370dab396b7de1469d0fb31595ac9/home.hbs#L204 indicates that this is a sass style, but afaik its css, right? Also: why not put the css code together in the stylesheet?

https://github.com/consento-org/consento-website/blob/master/assets/main/sass/main.scss

[2020-02-05 06:27] martinheidegger opened #43 "Better loading behavior"
Currently the loading behavior seems to not prioritize fonts, which results in an ugly [FOUC](https://en.wikipedia.org/wiki/Flash_of_unstyled_content) - particularly visible on slow connections and in Firefox.

[![Image from Gyazo](https://i.gyazo.com/78a3cab5a3d4506b2cec90111f18c333.gif)](https://gyazo.com/78a3cab5a3d4506b2cec90111f18c333)

[2020-02-05 06:29] martinheidegger opened #44 "Team icons overlap with text"
The icons displayed in the `./team` overlap with the surrounding text.

<img width="326" alt="Screen Shot 2020-02-05 at 15 28 41" src="https://user-images.githubusercontent.com/914122/73816563-431daa80-482c-11ea-85b9-efd390807969.png">

[2020-02-05 06:29] Torgian commented on #27
Unfortunately ( as seems to always be the case ) the styles from the Zeplin file don't seem to translate into the real world.

Line spacing between the elements are too narrow. I'll need to take some time to add padding and test.

<img width="858" alt="Screen Shot 2020-02-05 at 2 25 50 PM" src="https://user-images.githubusercontent.com/8596793/73816410-87587d00-4823-11ea-83d6-4b2ec792b0e1.png">

[2020-02-05 06:30] martinheidegger opened #45 "Too big spacing on content pages"
There is an enormous amount of spacing on the content pages:

<img width="624" alt="Screen Shot 2020-02-05 at 15 29 47" src="https://user-images.githubusercontent.com/914122/73816602-66485a00-482c-11ea-86ad-eeedc0cd9146.png">

This needs to be better proportioned.

[2020-02-05 06:32] martinheidegger opened #46 "Weird double underline in content links"
The content links (here seen under `./supporters`) weirdly have two underlines: one dotted and one on roll-over. This should be rendered consistently.

<img width="216" alt="Screen Shot 2020-02-05 at 15 31 08" src="https://user-images.githubusercontent.com/914122/73816709-a6a7d800-482c-11ea-81a7-219e2ffed316.png">

[2020-02-05 06:33] martinheidegger opened #47 "Content Link color not in palette"
The color of links in the content seems to not be part of the color palette used in consento?! @consento-org/design - what do you think?

<img width="169" alt="Screen Shot 2020-02-05 at 15 32 43" src="https://user-images.githubusercontent.com/914122/73816791-d951d080-482c-11ea-92bc-e6dc52fb9466.png">

[2020-02-05 06:34] martinheidegger opened #48 "Credits icon missing"
The NGI icon in the credits is missing:

<img width="850" alt="Screen Shot 2020-02-05 at 15 33 52" src="https://user-images.githubusercontent.com/914122/73816852-fa1a2600-482c-11ea-9c0f-24ff23c4207b.png">

[2020-02-05 06:35] martinheidegger opened #49 "Mixing of Credits and Supporters?"
@marcchataigner The credits page was originally designed to have a space crediting the open source tools that we used for making this page. Why do we put the supporters there?

[2020-02-05 06:35] Torgian commented on #48
Ahh, good catch. Thought I fixed this.

On that note isn’t NGI and LEDGER the same link?

[2020-02-05 06:38] Torgian commented on #49
This is behavior I need to fix on `pages.hbs` with a conditional statement.

Note: As for About, Team, Supporter pages, since they are pages created from within the Ghost page creator, I actually don’t have these pages locally, which makes it difficult to test styles for these pages.  Is there a datafile I can download from the write.georepublic.net <http://write.georepublic.net/> page so I can ge

[2020-02-05 07:16] Torgian commented on #27
I've made some changes and pushed them to branch [fix-footer](https://github.com/consento-org/consento-website/tree/fix-footer)

You can review if you want, or I can merge into next.

[2020-02-05 07:31] Torgian commented on #27
I went ahead and merged into the `next` branch. Please review and close / comment as needed.

[2020-02-05 07:32] Torgian commented on #29
I have replaced the logo with the flag from your link. I don't think it needs any spacing fixes, but please check and comment / close as needed.

[2020-02-05 07:36] Torgian commented on #28
It looks like I made a mistake in the latest merge; the icon is too large. I will revert back to original size.

[2020-02-05 07:48] martinheidegger commented on #27
@torgian Screenshot and link to changes in commit please.

On Wed, Feb 5, 2020, 16:31 Nathaniel Nasarow <notifications@github.com>
wrote:

[2020-02-05 10:24] Torgian commented on #31
Changes made in [#2ef338256d - R102-R105](https://github.com/consento-org/consento-website/commit/2ef338256dd79c6f0cb29b3ec7ebe76cebd2083a#diff-118d07f8a4d64a925eda1e4f5bdc2f05R102-R105)

[2020-02-05 10:26] Torgian commented on #29
Refer to commit [1d87515a](https://github.com/consento-org/consento-website/commit/1d87515a360cd291ca3cfea67cbd588aaf806603)

[2020-02-05 10:36] Torgian commented on #32
@martinheidegger for these, do you want them to turn red on hover, or change opacity? For now I will switch to changing opacity, but it can be reversed to turning red if you want.

[2020-02-05 11:54] Torgian commented on #32
Screenshots below, please close / comment as necessary. [Commit Link](https://github.com/consento-org/consento-website/commit/19622aec98b8eb69d1eb00bb16e22bd2676e8500)

I had to add media queries for the nav bar so that nothing went off screen or overlapped.  First screen is from tablet mode.
<img width="385" alt="Screen Shot 2020-02-05 at 7 43 19 PM" src="https://user-images.githubusercontent.com

[2020-02-05 13:09] martinheidegger commented on #49
It is possible to export/import the data to/from a ghost instance from the admin interface:

<img width="180" alt="Screen Shot 2020-02-05 at 22 07 38" src="https://user-images.githubusercontent.com/914122/73844496-05d50f00-4864-11ea-9d33-12314a2a6e6c.png">

⬇︎

<img width="655" alt="Screen Shot 2020-02-05 at 22 08 10" src="https://user-images.githubusercontent.com/914122/73844537-184f4880-4864-11e

[2020-02-05 13:50] martinheidegger commented on #48
The NGI is the parent organization of Ledger

- Ledger: https://ledgerproject.eu/
- NGI: https://www.ngi.eu/

[2020-02-05 14:58] martinheidegger commented on #32
The spacing looked weird to me so I measured it in the browser and compared it to the design:
<hr/>
<img width="200" alt="Screen Shot 2020-02-05 at 23 02 28" src="https://user-images.githubusercontent.com/914122/73848799-1f7a5480-486c-11ea-90e5-90cc0d9555da.png">
<hr/>
→ Then I looked in the css spec and found a specified letter-spacing:
<hr/>
<img width="500" alt="Screen Shot 2020-02-05 at 23 04

[2020-02-05 15:07] martinheidegger commented on #29
Commented: https://github.com/consento-org/consento-website/commit/1d87515a360cd291ca3cfea67cbd588aaf806603

[2020-02-05 15:11] martinheidegger commented on #31
Thank you, already a lot better. Thought I would like to leave the issue open as @consento-org/design has an improvement suggestion. As a different means of highlighting a link might be needed to distinguish clickable areas (the links), unclickable areas (the "Whitepaper pending" text) and regular text (funding note). Also I tend to be a stickler for keyboard navigation: the tab-focus is not reall

[2020-02-05 15:15] martinheidegger commented on #28
Looks good.

[2020-02-05 15:15] #28 closed, assigned to nobody

[2020-02-05 15:21] martinheidegger commented on #21
@Tannybunny the exported format may be `.svg`, but it is still a good idea original file as `.sketch` at hand, in order for others to be able to make changes to it.

[2020-02-05 15:24] martinheidegger commented on #36
@Tannybunny if you prepare the sketch for #21, it might be good to also this, so I assigned you.

[2020-02-06 04:59] martinheidegger commented on #6
Lets close this issue and open new issues for the locations where the colors don't match.

[2020-02-06 04:59] #6 closed, assigned to nobody

[2020-02-07 05:06] marcchataigner-zz commented on #49
@martinheidegger yes, you're right, let's the credits page only with credits + hosting.

Skip the `thy support us` block

[2020-02-07 05:06] marcchataigner-zz commented on #48
Let's skip that one, cf. #49

[2020-02-07 05:06] #48 closed, assigned to nobody

[2020-02-07 05:07] marcchataigner-zz commented on #39
Thx @martinheidegger

[2020-02-07 05:12] marcchataigner-zz commented on #38
@martinheidegger @Torgian Just replying a bit late here, sorry.

- [x] Let's have this `author` content display on the white background. With `work sans` font.
- [ ] Let's bring this content to the `supporter` page, as in https://zpl.io/VDw9lA3  (Because we don't have link to the blog anymore)

[2020-02-07 05:14] marcchataigner-zz commented on #40
@martinheidegger yes, we took it out for now, even if ghost is best for blogging.

We had only one blog post (that is moved below the `supporter` section - https://zpl.io/VDw9lA3 ).

Let's first discuss about the content production strategy, have couple of posts to be published, and insert a blog entry there. What do you think?

[2020-02-07 05:17] marcchataigner-zz commented on #44
@martinheidegger I am not sure how to fix this.
- Decrease the font size of 2pt?
- increase line spacing?
- Reduce icons size of 4 px.?

[2020-02-07 05:19] marcchataigner-zz commented on #46
- [ ] Drop the `in our blog post` link
- [ ] and rewrite as "Learn more about it by reading how consento receive funding by NGI."

[2020-02-07 05:45] marcchataigner-zz commented on #37
@martinheidegger @Torgian I didn't know about this issue with DAT.

I create this mailchimp sign up [page](https://mailchi.mp/54ed51f62b3d/consento-updates-signup).

so the button `stay updated` and `Be the first to use it` link in a new tab to:

[code]

[2020-02-08 15:07] Torgian commented on #42
Yes, that was a mistake from earlier; I know this is css.

As for putting it into a single css style sheet, this is something I've been wanting to do for a while, but thought keeping things separated between files would be easier to debug until most of it was ready.

That said, I've decided to try and move things into an scss style sheet. Unfortunately, I can't seem to get gulp to see / use the ma

[2020-02-10 02:05] Torgian commented on #42
I was able to get Sass / SCSS to compile correctly locally using gulp, so I am working on migrating the css to sass now.

[2020-02-10 05:14] martinheidegger commented on #40
I was planning to write blog posts this and next week, so to me this is a bit bad timing.

[2020-02-10 05:19] martinheidegger commented on #44
Everything you mentioned could/should work We have further options thought:

* Remove the avatars
* Change the way the text is written. (i.e. that the avatars are display bigger in a list)

What way would you choose?

[2020-02-10 05:25] martinheidegger commented on #40
Quoting or off-channel conversation:

I would be happy if we could-readd the "blog" button.

[2020-02-10 08:21] Torgian commented on #42
Refer to commit [eaa3cbc](https://github.com/consento-org/consento-website/commit/eaa3cbc7bb06f139f341009c2811402ec7e0f8a4) for changes. This will most likely affect past fixes.

[2020-02-10 09:16] martinheidegger commented on #42
So I checked the website and I fear that quite a lot of things have broken majorly, which turns this commit into a few steps backwards. This is an issue that often appears when one doesn't have a good testing framework. There is a methodology to to make sure that only very few issues sneak in. Please revert the code for now and let's do this once more in a pair programming session

[2020-02-10 09:35] Torgian commented on #42
Reverted, see commit [5d2d0214](https://github.com/consento-org/consento-website/commit/5d2d02140ab904383c5ad3b860c5d115c348342e)

[2020-02-10 11:17] Torgian commented on #42
I have pulled fresh from the `next` branch after the revert, and have also installed all required packages. Ran with `npm run dev`.

I changed the files over one by one, into SASS, and removed styling within the `topbar.hbs, navigation.hbs, home.hbs, footer.hbs, default.hbs` pages. I could not duplicate what was previously happening on the live server page (jumbled up menu, etc)

Here are some scr

[2020-02-10 17:39] Torgian commented on #42
Please see [this pull request](https://github.com/consento-org/consento-website/pull/51)

[2020-02-11 09:35] martinheidegger commented on #42
Closed in #51

[2020-02-11 09:35] #42 closed, assigned to Torgian

[2020-02-11 09:57] Torgian opened #52 "Cleanup sass files"
- [x] fix font typography
- [ ] remove unused css nodes
- [ ] recombine selector trees
- [x] de-duplicate variables / constants

Make pull requests for each of these.

[2020-02-12 02:17] Torgian commented on #32
I am going to review this right now. Since we made some changes yesterday with the css migration, it may have affected this issue.

[2020-02-12 02:29] Torgian commented on #32
It appears the design problems are still there, so I will start working on this.

[2020-02-12 05:36] martinheidegger opened #54 "Licensing of illustrations/logo"
@dkastl @consento-org/design as the illustrations are part of the visuals of consento it would be good to have a proper license to it.

After reading through [creative-commons documents](https://creativecommons.org/), my recommendation is to use the license [CC-BY-NC-SA](https://creativecommons.org/licenses/by-nc-sa/4.0/), for everything but the logo, it allows:

For the logo the [CC-BY-NC-ND](htt

[2020-02-12 14:10] dkastl commented on #54
According to @Trapist the only way to protect a logo is to register as a trademark. But otherwise the choice of the license looks OK to me.

Where would be the right place to write this information down?

[2020-02-12 17:41] Trapist commented on #54
On 12-02-2020 15:10, Daniel Kastl wrote:

You should write it in a special file called license on GitHub.

Here are the info on Trade Mark registration in Europe:
https://www.boip.int/en/entrepreneurs/registration-maintenance/outside-benelux/international-trademark-registration

--
 elena@dyne.org | Project Manager |
 https://Dyne.org think &do tank  |
 https://ledgerproject.eu/        |

[2020-02-12 23:22] martinheidegger commented on #54
As the images are shown on a webpage and probably scraped by google it would be important to add the license to the meta-data of those images/svg's/sketch files.

[2020-02-13 01:38] martinheidegger commented on #13
To close this issue, please open new issues with workable items.

[2020-02-13 01:49] marcchataigner-zz commented on #47
I'm fine with it  :-)

More colors palette here #6

[2020-02-13 01:51] #47 closed, assigned to marcchataigner, Tannybunny

[2020-02-13 01:55] marcchataigner-zz opened #55 "Image and set not aligned in 'how it works" section"
I don't know exactly if it my browser, but the how it works section items seems not aligned.

For the 4 illustrations, could the titles / images / text be horizontally aligned? (like in the Values section).
Or it is because that section is responsive

![Screen Shot 2020-02-13 at 10 51 16](https://user-images.githubusercontent.com/3974900/74394002-ec792780-4e4e-11ea-858e-f5341011b947.png)

[2020-02-13 01:56] Tannybunny commented on #33
Yes that was proposed

[2020-02-13 02:06] martinheidegger commented on #54
Okay. _(after offline conversation)_ Let's go with the licenses as described ↑. The License is to be given by the individuals that make the illustration/logo (@Tannybunny) and to be added in the files metadata. Please specify your name or nickname in the license and a way to reach you for the forseeable future - email address likely.

[2020-02-13 02:06] #54 closed, assigned to dkastl, marcchataigner, Tannybunny

[2020-02-13 02:21] Torgian commented on #55
This is due to responsiveness from bootstrap. This can be fixed by setting a fixed height, but there might be a better way. @martinheidegger any thoughts?

[2020-02-13 03:51] martinheidegger commented on #55
This is related to font-size + space. Reduce the size of the font and it will fit :)

[2020-02-13 05:22] Torgian commented on #27
I made a single change: See commit [40efa983](https://github.com/consento-org/consento-website/commit/40efa9838a84f855f39c2b3987456f2fa5c84519)

Screenshot shows the new footer letter spacing. The styling for font-size, line height, letter spacing, matches what is in the Zeplin design.

I believe this issue is ready to close; please review.

Current footer (from write.georepublic)

<img width="151

[2020-02-13 05:48] Torgian commented on #29
Please see commits: [510cdf539](https://github.com/consento-org/consento-website/commit/510cdf539b5c3213cf78dc80dc70158bdaf58314) and [cfaa616](https://github.com/consento-org/consento-website/commit/cfaa6168296670115462cc9d7525486ae01d3dc2)

Replaced EU logo with an optimized PNG version.

<img width="1246" alt="Screen Shot 2020-02-13 at 1 45 00 PM" src="https://user-images.githubusercontent.com/

[2020-02-13 06:31] Torgian commented on #30
Please refer to this [PR](https://github.com/consento-org/consento-website/pull/57)

[2020-02-13 06:34] martinheidegger commented on #27
It looks a bit weird in smaller modes, are the icons supposed to be vertically centered or aligned on top?  (it seems neither)

<img width="583" alt="Screen Shot 2020-02-13 at 15 33 23" src="https://user-images.githubusercontent.com/914122/74407864-3de8dd00-4e76-11ea-8971-e80deab1beb5.png">

[2020-02-13 06:35] martinheidegger commented on #29
LGTM

[2020-02-13 06:35] #29 closed, assigned to Torgian

[2020-02-13 06:39] Torgian commented on #31
This is the current look for tab focusing:

<img width="1064" alt="Screen Shot 2020-02-13 at 2 37 49 PM" src="https://user-images.githubusercontent.com/8596793/74408164-a8961a80-4e6e-11ea-8ce6-dd8546e59ded.png">

Does this look ok with you @martinheidegger ?

[2020-02-13 06:41] Torgian commented on #27
I suggest vertically centered on smaller resolutions, I think that might look better.

Or, alternatively, we can have them drop below the Funding Text; this might also make the funding text look better on tablet resolutions.

[2020-02-13 07:25] Trapist commented on #54
On 13-02-2020 00:22, Martin Heidegger wrote:

I agree with this. I was thinking about the license of the program.
Miscommunication.

--
 elena@dyne.org | Project Manager |
 https://Dyne.org think &do tank  |
 https://ledgerproject.eu/        |

[2020-02-13 08:00] Torgian commented on #33
Refer to commits: [1](https://github.com/consento-org/consento-website/commit/ca814152010c8e096ded46ac95315b8a56177f51) and [2](https://github.com/consento-org/consento-website/commit/4c35a4188a386ac362ac02530e3096875e878d8e)

@martinheidegger Please review.

[2020-02-13 08:36] Torgian commented on #27
Please see PR [here](https://github.com/consento-org/consento-website/pull/58)

[2020-02-13 09:14] martinheidegger commented on #33
This looks okay to me. I added a note on how it may be improved but I leave it up to you if you want to do that or just close this issue.

[2020-02-13 09:15] martinheidegger commented on #31
I tried to forward the question about if it looks good to the @consento-org/design team :)

[2020-02-13 09:15] martinheidegger commented on #27
Closed in #58

[2020-02-13 09:15] #27 closed, assigned to Torgian, Tannybunny

[2020-02-13 11:35] #30 closed, assigned to marcchataigner, Tannybunny

[2020-02-14 00:19] Torgian commented on #33
I implemented your suggestions in commit [41ceb](https://github.com/consento-org/consento-website/commit/4f1ceb9ce0c2f55eb88406604fda3b6a07951dc6)

[2020-02-14 00:47] Torgian commented on #34
See the [following PR](https://github.com/consento-org/consento-website/pull/59)

[2020-02-14 02:16] Tannybunny commented on #22
At the moment it seems as if there is no additional space between the download button and the bottom?
@Torgian
Also, after tapping the menu a redish background appears. The alignment of the logo and the menu icon seems a bit off too.  Here is a picture of what I think should be changed:

<img width="908" alt="Screen Shot 2020-02-14 at 11 13 11" src="https://user-images.githubusercontent.com/512239

[2020-02-14 06:38] Torgian commented on #33
See this [commit](https://github.com/consento-org/consento-website/commit/d5678f03dc9ebfc5cab1545252d26bc631f2a550)

@martinheidegger I double checked the sass file and I couldn't find anything wrong with the indentation. They are all tab indented. I also implemented your suggestion with the javascript.

`toggle` is one of those functions that I know about, but never remember ( I always remember c

[2020-02-14 06:56] martinheidegger commented on #33
Cool. Closing this issue.

[2020-02-14 06:56] #33 closed, assigned to Torgian

[2020-02-14 07:00] marcchataigner-zz commented on #31
Looks good to me  :-)  👍

[2020-02-14 08:37] Torgian commented on #35
I changed the font size to 27px. See this [commit](https://github.com/consento-org/consento-website/commit/ac851df69cde874f140820c6ec9ee0882302e0ed) This is the maximum font available that won't force the text to wrap in larger resolutions.

[2020-02-14 08:41] Torgian commented on #37
See commit [2cf1cfa](https://github.com/consento-org/consento-website/commit/2cf1cfa82a3360312928730767e377f89efbeb38)

[2020-02-14 08:41] martinheidegger commented on #37
LGTM

[2020-02-14 08:41] #37 closed, assigned to Torgian

[2020-02-14 08:43] Torgian commented on #35
<img width="1370" alt="Screen Shot 2020-02-14 at 4 42 00 PM" src="https://user-images.githubusercontent.com/8596793/74515191-0c8d1180-4f49-11ea-99f6-a46d016974ee.png">
<img width="827" alt="Screen Shot 2020-02-14 at 4 42 08 PM" src="https://user-images.githubusercontent.com/8596793/74515201-11ea5c00-4f49-11ea-8930-81a14dd2f422.png">
<img width="497" alt="Screen Shot 2020-02-14 at 4 42 25 PM" src="

[2020-02-14 08:49] martinheidegger commented on #35
LGTM.

[2020-02-15 02:00] martinheidegger opened #60 "Favion on dark looks ~ different"
In dark mode the favicon has a very different feel to it. ↓

<img width="108" alt="Screen Shot 2020-02-15 at 10 58 25" src="https://user-images.githubusercontent.com/914122/74579940-22024a00-4fe2-11ea-895e-22af28b016fd.png">

@consento-org/design is it better to put it on a white background?

[2020-02-16 05:24] Torgian commented on #39
Please see following commit: [b18da55b](https://github.com/consento-org/consento-website/commit/b18da55b95a705b74bda8933a8f1b112408b3a4c)

The links were already added in an earlier commit. So, what needed to be done was change the colors for the `<a>` elements. I wasn't sure what would be good colors, so I referred to the color style [guide](https://app.zeplin.io/project/5e008395a3e2aa1c6777a029/

[2020-02-16 05:33] Torgian commented on #40
This is done, but Blog page needs to be stylized. I made the changes within the admin page. Navigation bar may also need adjusting.
Screenshots:

<img width="1151" alt="Screen Shot 2020-02-16 at 1 31 24 PM" src="https://user-images.githubusercontent.com/8596793/74599682-dd011500-50c0-11ea-8aff-18e461aa19f6.png">
<img width="1168" alt="Screen Shot 2020-02-16 at 1 31 37 PM" src="https://user-images.

[2020-02-16 09:39] Torgian commented on #32
Please refer to PR [61](https://github.com/consento-org/consento-website/pull/61)

I made a couple of minor changes. This seems to have fixed _some_ spacing issues.

[2020-02-16 09:40] Torgian commented on #32
<img width="1254" alt="Screen Shot 2020-02-16 at 5 40 07 PM" src="https://user-images.githubusercontent.com/8596793/74602440-6aedf780-50e3-11ea-9c5e-e8dbe61502e7.png">

[2020-02-16 09:42] Torgian commented on #32
<img width="562" alt="Screen Shot 2020-02-16 at 5 41 57 PM" src="https://user-images.githubusercontent.com/8596793/74602469-b0aac000-50e3-11ea-891e-af5ba9285d19.png">

[2020-02-16 10:20] Torgian opened #62 "Fix padding on main body"
While working on the top navigation bar, I noticed an issue with the padding on all of the main div elements. There is a left padding of 1.5em on all row elements.

<img width="335" alt="Screen Shot 2020-02-16 at 6 19 36 PM" src="https://user-images.githubusercontent.com/8596793/74602952-e8683680-50e8-11ea-9b7f-30641eb17502.png">

[2020-02-16 10:28] Torgian commented on #62
The culprit is `_row.scss` in the components folder. Since this was added in `main.scss` after bootstrap, it overwrote bootstrap's styling.

[code]

I removed this declaration from main.scss and deleted the file. It fixes the padding problem.

Refer to this [commit](https://github.com/consento-org/consento-website/commit/23e56a076a5477808fc7ad03c2bab424416a47d7)

[2020-02-16 10:31] Torgian commented on #62
Note that the above fix also revealed a problem with button margins. Refer to this [commit](https://github.com/consento-org/consento-website/commit/55b2540a02a7eb176b1649191202513678c1d10a) and screenshot after the fix.

![localhost_2368_(iPhone 5_SE) (2)](https://user-images.githubusercontent.com/8596793/74603092-c7a0e080-50ea-11ea-9bff-8169426951cc.png)

[2020-02-16 10:33] #62 closed, assigned to Torgian

[2020-02-16 13:12] martinheidegger commented on #32
Looking forward to all issues fixed.

[2020-02-17 01:53] Torgian commented on #22
@Tannybunny Can you please look at this commit? [f35a5bd](https://github.com/consento-org/consento-website/commit/f35a5bde60e1878251baa3cd7eeddca8392a8cb4)

I added a top / bottom margin to the download button in mobile view.

<img width="615" alt="Screen Shot 2020-02-17 at 9 49 17 AM" src="https://user-images.githubusercontent.com/8596793/74617988-e3e46200-516a-11ea-9107-2bc8b72616a8.png">

[2020-02-17 02:10] Torgian commented on #32
@consento-org/design I need confirmation on the button colors. In Zeplin, the border colors are #2989d6, and the text is `rgba(9, 120, 208, 0.87)` ( or hex #0978D0 ) Is this correct, or do the colors need to be one or the other?

[2020-02-17 02:14] marcchataigner-zz commented on #32
@Torgian on the zeplin file, I see that the blue is the `consent-blue` : #37afc9 for buttons (the `test your privacy level`, `be the first to use it`, etc. Is it the color you are looking for?

[2020-02-17 02:15] Torgian commented on #32
Oh, my mistake. I meant the Download button in the navigation menu.

[2020-02-17 02:17] marcchataigner-zz commented on #32
Ah, I see. The way it runs now in the `write.georepublic.net`, it looks good to me. The blue edge is slightly darker than the filled in blue shade when the mouse over comes, and it is the correct dynamic for me.  :-)

[2020-02-17 02:34] marcchataigner-zz commented on #32
Only maybe that I look at it, the `download` label could be aligned in height with the button center, like you have in other buttons. Thee text can be 1 or 2 px down.   But this is not a key requirement, just optical illusion fun   :-D

![Screen Shot 2020-02-17 at 11 33 45](https://user-images.githubusercontent.com/3974900/74619577-62480080-5179-11ea-8da2-b0a74a2fd0a9.png)

[2020-02-17 02:44] Torgian commented on #32
Yes, I'm working on this right now actually. I started by removing the download_btn class and adding things one by one. When I remove it, everything is centered:

<img width="345" alt="Screen Shot 2020-02-17 at 10 32 10 AM" src="https://user-images.githubusercontent.com/8596793/74619672-4fc9c900-5171-11ea-98ec-9d555480706c.png">

I narrowed it down to the culprit: It's the font. If I remove all th

[2020-02-17 03:04] Torgian commented on #32
Fixed. Refer to this [commit](https://github.com/consento-org/consento-website/commit/77a065b8ece6786a68a4d6cbdd92bf5538687c22) While the font family changes how the text is spaced, the font size also plays a part. I found that it was being over-ridden by ghost's base styling, so I added the !important tag and reduced the font size by one. This gives it a centered appearance.

<img width="175" alt

[2020-02-17 05:23] Torgian commented on #38
Refer to commit [82d5702](https://github.com/consento-org/consento-website/commit/82d5702babd6f96cd24de1a304607069a3e61a0e) for fix.

<img width="1255" alt="Screen Shot 2020-02-17 at 1 23 18 PM" src="https://user-images.githubusercontent.com/8596793/74625842-b0183500-5188-11ea-9559-6e3a4a3aeece.png">

[2020-02-17 06:54] martinheidegger commented on #38
The font is still wrong.

[2020-02-17 06:55] martinheidegger commented on #21
New images are offered in #63

[2020-02-17 06:56] #40 closed, assigned to nobody

[2020-02-17 06:57] martinheidegger commented on #40
Please open two issues.

[2020-02-17 06:59] martinheidegger commented on #39
Those colors are not okay. @consento-org/design

[2020-02-17 07:42] martinheidegger opened #64 "Top shadow visible without scrolling"
When opening the website for the first time, without scrolling, the webpage shows the shadow bar below.

<img width="735" alt="Screen Shot 2020-02-17 at 16 41 42" src="https://user-images.githubusercontent.com/914122/74633164-65a4b180-51a4-11ea-8e6c-86a527a0a44b.png">

https://github.com/consento-org/consento-website/blob/82d5702babd6f96cd24de1a304607069a3e61a0e/assets/main/js/topbar.js#L1-L5

The

[2020-02-17 08:36] martinheidegger opened #65 "Favicon.ico is still old"
The [`/assets/images/favicon.ico`](https://raw.githubusercontent.com/consento-org/consento-website/next/assets/images/favicon.ico) is still the old consento logo.

[2020-02-17 08:52] Torgian commented on #65
This is the fav-icon that should be used:

`<link rel="icon" type="image/png" href="{{asset "images/logo-consento-small.png"}}" />`

Refer to [commit](https://github.com/consento-org/consento-website/commit/e703754699853f1f0623e45da003cbb51a4f2262)

I swapped out the favicon.ico files here. Unless there is a different file being used to set the favicon though, I don't think this is currently being

[2020-02-17 08:54] martinheidegger commented on #65
Older browsers (IE) and some systems still prefer a .ico as a favicon. Good that the icon is replaced, but it would be good to figure out if the icons are correctly used.

[2020-02-17 08:54] #65 closed, assigned to Torgian

[2020-02-17 09:24] Torgian commented on #64
Refer to [this commit](https://github.com/consento-org/consento-website/commit/947af3b8933175b582e89eaf1ce090eba0970513)

How does it look? Tests good locally ( does not show shadow on nav bar on first load )

[2020-02-17 09:35] Torgian commented on #39
@martinheidegger @consento-org/design How does this look? I checked out a color picker and went for a tetradic harmony. This is the color code: #5237c9

<img width="561" alt="Screen Shot 2020-02-17 at 5 33 54 PM" src="https://user-images.githubusercontent.com/8596793/74641185-d7342e00-51ab-11ea-829a-a3b3df6f9e8b.png">

[2020-02-17 09:49] Torgian commented on #38
The font is already WorkSans-Regular. Do you need it to be a different work-sans font?

I did see that the font size and line height were being overridden by ghost styling. The following screenshot is with the base `p`aragraph settings ( 21px, line-height 27px, color rgba(0 0 0 0.87) )

<img width="797" alt="Screen Shot 2020-02-17 at 5 44 21 PM" src="https://user-images.githubusercontent.com/85967

[2020-02-17 10:31] marcchataigner-zz commented on #38
Great. I feel the Work sans Light is best, no? :-)

[2020-02-17 10:34] marcchataigner-zz commented on #39
Mmmhh. I sense that in the footer, the information should not catch too much attention. It should be there for those who look for it. If a really key info is in the footer, it means that we should place it elsewhere. What if the links are also white in color, but a font ‘medium’ for instance? Would that work?

[2020-02-17 10:49] Torgian commented on #38
Done. See this [commit](https://github.com/consento-org/consento-website/commit/827d2ae332de724a75133249a857dc5acb623097)

<img width="398" alt="Screen Shot 2020-02-17 at 6 48 14 PM" src="https://user-images.githubusercontent.com/8596793/74647200-3860ff00-51b6-11ea-8a3e-c489ba178aee.png">

[2020-02-17 10:56] Torgian commented on #39
Here is a screenshot with that in mind:

<img width="479" alt="Screen Shot 2020-02-17 at 6 56 19 PM" src="https://user-images.githubusercontent.com/8596793/74647761-3c415100-51b7-11ea-9526-94e5fa3c055e.png">

[2020-02-17 22:02] martinheidegger commented on #38
As far as I can see "AUTHOR" is still in the wrong don't.

[2020-02-18 01:04] Torgian commented on #64
Refer to commit [a74daf8](https://github.com/consento-org/consento-website/commit/a74daf8ed49e59e402d9cc4f87cee64efe5b122b)

[2020-02-18 01:15] Torgian commented on #38
My mistake.

Here is a screenshot using WorkSans-SemiBold
<img width="378" alt="Screen Shot 2020-02-18 at 9 10 58 AM" src="https://user-images.githubusercontent.com/8596793/74695376-bc56cd80-522e-11ea-962e-b2043e1f8f3b.png">

And this uses WorkSans Light

<img width="352" alt="Screen Shot 2020-02-18 at 9 14 03 AM" src="https://user-images.githubusercontent.com/8596793/74695499-2b342680-522f-11ea-8

[2020-02-18 01:37] Torgian commented on #49
To clarify, you want to remove this section ( They Trust Us ), from the Credits page,  correct?

<img width="785" alt="Screen Shot 2020-02-18 at 9 36 43 AM" src="https://user-images.githubusercontent.com/8596793/74696352-3b013a00-5232-11ea-9433-c340503e4243.png">

[2020-02-18 02:15] Torgian commented on #34
Fixed code block indentation [here](https://github.com/consento-org/consento-website/commit/138cdb254c140f0c5a79abf804b21d1e4f50590a)
<img width="556" alt="Screen Shot 2020-02-18 at 10 11 57 AM" src="https://user-images.githubusercontent.com/8596793/74698068-8ff37f00-5237-11ea-86ce-5e29f5d94f69.png">

[2020-02-18 02:17] martinheidegger commented on #38
As a design question: I like the semibold, but the description text font is too large, there should be between `5~10` words fitting in the block, not `3~6`

[2020-02-18 02:19] martinheidegger commented on #26
The code coloring has been added in #59 but there is still an indentation issue.

[2020-02-18 02:21] martinheidegger commented on #34
@Torgian it still has a dangling line and maybe a 2 character indent might be better ;)

<img width="218" alt="Screen Shot 2020-02-18 at 11 20 47" src="https://user-images.githubusercontent.com/914122/74698332-c255aa00-5240-11ea-8404-f7584388d264.png">

[2020-02-18 02:24] Torgian commented on #38
This is a font size of 1.3em.

<img width="403" alt="Screen Shot 2020-02-18 at 10 24 22 AM" src="https://user-images.githubusercontent.com/8596793/74698475-e1e8d480-5238-11ea-9913-2f2b3c4bb027.png">

And this is with 1em.

<img width="370" alt="Screen Shot 2020-02-18 at 10 25 42 AM" src="https://user-images.githubusercontent.com/8596793/74698520-0fce1900-5239-11ea-8cd2-155cfa96eb9e.png">

[2020-02-18 02:34] martinheidegger commented on #38
1em with 1.4em line-height, would be my choice.

[2020-02-18 02:37] Torgian commented on #34
See this [commit](https://github.com/consento-org/consento-website/commit/dc1ce7116597abbb7d481158e8b844c579aeeb84)

Removed the dangling line and changed indentation.

<img width="554" alt="Screen Shot 2020-02-18 at 10 36 13 AM" src="https://user-images.githubusercontent.com/8596793/74699014-84558780-523a-11ea-85d3-ce60136e002e.png">

[2020-02-18 02:38] martinheidegger commented on #34
Much better, the indentation of the comment is wrong, but at this point I am happy.

[2020-02-18 02:46] Torgian commented on #38
Refer to these commits for the [author box p](https://github.com/consento-org/consento-website/commit/ed8576a98fe500acfe73c2548b8469cc4d125815)  and [author box label](https://github.com/consento-org/consento-website/commit/fef86343a35c891aa8437bcc3ef6d29387f9bfbd) styling.

[2020-02-18 02:49] Torgian commented on #34
Fixed the indentation for the comment [here](https://github.com/consento-org/consento-website/commit/ba938c56c002d7eb20e945fcc84b55ba04d35f58)

[2020-02-18 02:55] #34 closed, assigned to Torgian

[2020-02-18 02:57] Torgian commented on #38
Verified changes on live website:

<img width="900" alt="Screen Shot 2020-02-18 at 10 56 46 AM" src="https://user-images.githubusercontent.com/8596793/74700055-6dfcfb00-523d-11ea-8e14-697f61c972ab.png">

[2020-02-18 02:59] martinheidegger commented on #38
LGTM

[2020-02-18 02:59] #38 closed, assigned to nobody

[2020-02-18 05:35] Torgian commented on #64
I made a change according to Martin's comment [here](https://github.com/consento-org/consento-website/commit/872881a79e8b16477065b2c037b56a1c518449c4)

[2020-02-18 05:53] Torgian opened #66 "Manifest is using wrong image path"
The .manifest file's image path needs to be changed since the latest PR had changed images and paths.

<img width="1267" alt="Screen Shot 2020-02-18 at 1 53 30 PM" src="https://user-images.githubusercontent.com/8596793/74707909-128b3700-5256-11ea-9a7c-8b248fc1c3f4.png">

[2020-02-18 06:36] Torgian commented on #66
Fixed with this commit: [63def](https://github.com/consento-org/consento-website/commit/63def43d55c4c0cfae0571e7b78d1d2310cee855)

[2020-02-18 06:36] #66 closed, assigned to Torgian

[2020-02-18 06:37] Torgian commented on #21
#63 has been merged and images look clear. However, would it be better to use the .svgs or the .pngs?

[2020-02-18 06:43] martinheidegger commented on #35
<img width="984" alt="Screen Shot 2020-02-18 at 15 43 03" src="https://user-images.githubusercontent.com/914122/74710616-69e4d380-5265-11ea-8475-6f294b9838fe.png">

If the screen size is smaller than 1200px it still breaks.

[2020-02-18 06:48] martinheidegger commented on #21
The advantage of `pngs` over `svgs` is quicker rendering, the advantage of svgs over png might be sharpness on all levels.  I guess its your choice, but this issue can be closed for now.

[2020-02-18 07:31] Torgian commented on #35
Refer to [this commit](https://github.com/consento-org/consento-website/commit/0aa9a06e2e45be4f69a93ad24182e1bcb0e664a5)

Between 992px and 1200px, this is now fixed by reducing font size for the h3 element.

<img width="990" alt="Screen Shot 2020-02-18 at 3 28 23 PM" src="https://user-images.githubusercontent.com/8596793/74713512-b16a6000-5263-11ea-8629-5cf26c6bcc70.png">
<img width="1178" alt="S

[2020-02-18 07:42] #35 closed, assigned to Torgian

[2020-02-18 08:26] Torgian commented on #26
I have made the first prototype for the progress block [here](https://github.com/consento-org/consento-website/pull/67)

I replaced the image with the `human-centric` file, which is just two people hanging.
Below that I placed the backlog/progress blocks.

<img width="748" alt="Screen Shot 2020-02-18 at 4 20 08 PM" src="https://user-images.githubusercontent.com/8596793/74717306-23927300-526b-11ea-

[2020-02-18 08:52] martinheidegger commented on #46
@marcchataigner I think you mistook the issue here: Any link written in ghost will result in links with this style. This issue is in regard to any link style in content, not the blog post links in particular.

[2020-02-18 09:48] Torgian commented on #55
Referring to the screenshots below, this section looks quite nice right now. Fixing the font size in commit [0aa9a06](https://github.com/consento-org/consento-website/commit/0aa9a06e2e45be4f69a93ad24182e1bcb0e664a5) has contributed to this.

@marcchataigner @martinheidegger What do you think?

<img width="1413" alt="Screen Shot 2020-02-18 at 5 47 03 PM" src="https://user-images.githubusercontent.c

[2020-02-18 10:03] Torgian commented on #46
Refer to commit [9e998a](https://github.com/consento-org/consento-website/commit/9e998a40c33f366a71b337c110de6590f5a2b779)

I found that ghost's default in `typography.scss` was causing this issue. I removed that line.

<img width="876" alt="Screen Shot 2020-02-18 at 6 02 36 PM" src="https://user-images.githubusercontent.com/8596793/74725465-e2a15b00-5278-11ea-94c7-bb0c45dc5600.png">
<img width="8

[2020-02-19 01:17] #55 closed, assigned to Torgian

[2020-02-19 01:21] marcchataigner-zz commented on #26
Yes, I agree. Thee `consento backlog` would be best aligned with `backlog` and `in progress` ideally.

[2020-02-19 01:24] marcchataigner-zz commented on #26
Note though, for this 'MVP website', i wouldn't spend much time on linking this with git. it is a nice feature but I guess not fundamental yet. Maybe the website will change again in 6 months time...   :-)   Unless it is a good coding practice or exercise?

[2020-02-19 01:27] Torgian commented on #26
This is just some quick work locally. How does something like this look? @marcchataigner

<img width="1411" alt="Screen Shot 2020-02-19 at 9 26 15 AM" src="https://user-images.githubusercontent.com/8596793/74792993-f80a9980-52f9-11ea-9178-34493535c7c5.png">

[2020-02-19 02:03] Torgian opened #68 "Modify Data Visualization image"
The current image is too large for tablet sizes.

Modify the image so that it is inline with the top of the "Data Visualization" title, and is sized the same as the text block.

Make sure the visual still looks good on other mobile and desktop sizes. Refer to PR #61

[2020-02-19 02:37] Torgian commented on #68
Refer to commit [b2daa85](https://github.com/consento-org/consento-website/commit/b2daa85e6fe7de7e5f9033c10c7574c11cc8b5c5). @marcchataigner Please check and comment / close issue as needed. You can view this on the live site now.

<img width="980" alt="Screen Shot 2020-02-19 at 10 36 36 AM" src="https://user-images.githubusercontent.com/8596793/74796501-ba127300-5303-11ea-905e-d2a1900be5a2.png">

[2020-02-19 04:31] Torgian commented on #64
I changed the logic and did some console testing. Commit is [here](https://github.com/consento-org/consento-website/commit/82256366595dd0925548bf0dad2e33f7df7c7c46)

[2020-02-19 09:26] Torgian commented on #64
Refactored. Please see [commit](https://github.com/consento-org/consento-website/commit/d7d9c57c20968f63fd35f3824e2fcd72a1f4d0d6) here.

[2020-02-19 10:07] #64 closed, assigned to Torgian

[2020-02-19 11:08] Torgian commented on #26
@marcchataigner @martinheidegger I'd like your feedback on the following proposed change.

In Progress is changed to Developing.
Here is a screenshot:

<img width="480" alt="Screen Shot 2020-02-19 at 7 00 33 PM" src="https://user-images.githubusercontent.com/8596793/74828536-3d56b780-534a-11ea-9bdf-015ba4505e93.png">

I feel like this looks cleaner.

Also, we could also change the bottom border of

[2020-02-19 11:12] #32 closed, assigned to Torgian

[2020-02-19 11:13] Torgian commented on #46
Closing since this issue ( double underline on hover ) is resolved in commit [9e998a](https://github.com/consento-org/consento-website/commit/9e998a40c33f366a71b337c110de6590f5a2b779)

[2020-02-19 11:13] #46 closed, assigned to marcchataigner, Tannybunny

[2020-02-19 11:14] #68 closed, assigned to Torgian

[2020-02-19 12:38] Torgian commented on #45
Refer to this commit: [8f05b7ab](https://github.com/consento-org/consento-website/commit/8f05b7ab4de5b557eb57407bb3a475717b657b3d)

<img width="1436" alt="Screen Shot 2020-02-19 at 8 38 21 PM" src="https://user-images.githubusercontent.com/8596793/74835207-d2ac7880-5357-11ea-921e-af2209d31872.png">

Screenshot 2

<img width="1432" alt="Screen Shot 2020-02-19 at 8 38 33 PM" src="https://user-images

[2020-02-19 13:10] martinheidegger opened #69 "Topnavigation, Mobile: shadown not shown on 0"
When the menu is closed, its okay/expected for the shadow to be hidden on mobile devices but when the menu is opened, the shadow should be visible, right now its not

<img src="https://user-images.githubusercontent.com/914122/74837151-2de46800-5364-11ea-9540-0c5c24144d48.png" width="200">

[2020-02-19 13:13] Torgian commented on #45
Refer to commit [9f481dc](https://github.com/consento-org/consento-website/commit/9f481dc1beb5f6226983ab46dbf590e85fe2973c) and [9c7bf1f](https://github.com/consento-org/consento-website/commit/9c7bf1f1c7a961cf45a1338aee26f86dd1921523)

These fix the margin with the h1 element and the image spacing in the Supporter page.

<img width="1148" alt="Screen Shot 2020-02-19 at 9 10 29 PM" src="https://us

[2020-02-19 13:15] Torgian commented on #45
Team page screenshot:

<img width="904" alt="Screen Shot 2020-02-19 at 9 14 09 PM" src="https://user-images.githubusercontent.com/8596793/74837700-0c33b280-535d-11ea-97b8-a30df23a4942.png">

@marcchataigner @Tannybunny can you take a look and review please? Please tell me if the spacing for images is correct or not. You can view these pages on the live site right now.

[2020-02-20 04:55] Torgian commented on #69
Refer to [commit](https://github.com/consento-org/consento-website/commit/02706a97a3b2ce7838ce82d72860b8cc24b616d9)

I tried a few different methods on adding / removing the shadow based on element offsetTop, as well as trying to make the code a bit more compact. However, I ran into problems when invoking a Promise based on the css transition ending. I'd still like to explore this option in the fu

[2020-02-20 05:08] martinheidegger commented on #69
Okay, yeah, the code is pretty ~ugh but it seems to work, which is enough for now. Though lets leave the issue open as a memory to clean this.

[2020-02-20 05:34] Torgian commented on #45
Refer to the following commits for the following fixes: @marcchataigner Please review, you can see it on the live site as well.

bootstrap containers [10ada90](https://github.com/consento-org/consento-website/commit/10ada902bee6ff6ecbcb3c9b2299457950554df6)
Padding
[3e3ad0b](https://github.com/consento-org/consento-website/commit/3e3ad0bd00a25954bf6ffce213da560bc4727b14)
Blog header spacing
[2558e

[2020-02-20 05:40] Torgian opened #70 "Fix fonts on other pages"
Team, About, Supporter pages have incorrect font sizes.

From conversation:

The second titles in the page meet us IRL, meet us online are a bit too large and bold. It feels that these section titles are visually more important than the page title. I think you could make these section titles smaller, like the style of Data integrity across organizations.on the landing page.

And same would apply f

[2020-02-20 05:52] Torgian commented on #70
@marcchataigner Refer to [commit here](https://github.com/consento-org/consento-website/commit/8e6a0c20a06b7acd57c38ae7b105ee3fd41f4e5e), which is currently live on live page. I used the Zeplin file [here](https://app.zeplin.io/project/5e008395a3e2aa1c6777a029/screen/5e27f7369d2d35550196ef7f) as a guide.

<img width="1020" alt="Screen Shot 2020-02-20 at 1 50 39 PM" src="https://user-images.githubu

[2020-02-20 06:06] Torgian commented on #41
Refer [commit 0034cee](https://github.com/consento-org/consento-website/commit/0034cee66f9eeef819c5d4456896b3839ed52376) @martinheidegger

<img width="409" alt="Screen Shot 2020-02-20 at 2 02 57 PM" src="https://user-images.githubusercontent.com/8596793/74905745-f8825d80-53e9-11ea-9efd-cabfb4e9a769.png">
<img width="948" alt="Screen Shot 2020-02-20 at 2 02 49 PM" src="https://user-images.githubuse

[2020-02-20 06:14] martinheidegger commented on #31
It's here again

[2020-02-20 06:17] Torgian commented on #70
Fixed blog <p> element. Commit [here](https://github.com/consento-org/consento-website/commit/4ebf8f635983c08d0cffe7285d184c6e50b0a931)

Before:

<img width="921" alt="Screen Shot 2020-02-20 at 2 09 12 PM" src="https://user-images.githubusercontent.com/8596793/74906364-c3770a80-53eb-11ea-9681-cdc582383f7e.png">

After:
<img width="1038" alt="Screen Shot 2020-02-20 at 2 16 52 PM" src="https://user-

[2020-02-20 06:26] Torgian commented on #31
Refer this [commit](https://github.com/consento-org/consento-website/commit/e6f325d37d38db56dfafa4d4f06ee1b40f5a342f)

<img width="344" alt="Screen Shot 2020-02-20 at 2 26 02 PM" src="https://user-images.githubusercontent.com/8596793/74906782-f1108380-53ec-11ea-96df-62d0fde0011d.png">

Removed red color when hovering, and turns opacity to full instead. @consento-org/design Any thoughts on how to m

[2020-02-20 06:29] Torgian commented on #44
To revisit this issue, this is how it currently looks. Is this acceptable, or should this be modified further?

<img width="948" alt="Screen Shot 2020-02-20 at 2 29 21 PM" src="https://user-images.githubusercontent.com/8596793/74906989-73994300-53ed-11ea-8e2e-0c494951bbe2.png">

[2020-02-20 06:33] Torgian commented on #49
Refer [4d367d2](https://github.com/consento-org/consento-website/commit/4d367d2b04ee22648124e988efab3e379da5435a)

Removed supporters block from credits page.

<img width="1018" alt="Screen Shot 2020-02-20 at 2 33 19 PM" src="https://user-images.githubusercontent.com/8596793/74907250-f9b58980-53ed-11ea-9226-c12332c0f319.png">

[2020-02-20 06:37] Torgian commented on #70
Fixed Credits page font styling and spacing. [Commit here](https://github.com/consento-org/consento-website/commit/30db37aa64d94af72ed2df3a80b06440927bfb7b)

<img width="1023" alt="Screen Shot 2020-02-20 at 2 35 52 PM" src="https://user-images.githubusercontent.com/8596793/74907545-88c2a180-53ee-11ea-8e7b-89395230c405.png">

[2020-02-20 06:38] Torgian commented on #45
Fixed in [30db37](https://github.com/consento-org/consento-website/commit/30db37aa64d94af72ed2df3a80b06440927bfb7b)

<img width="1023" alt="Screen Shot 2020-02-20 at 2 35 52 PM" src="https://user-images.githubusercontent.com/8596793/74907588-a2fc7f80-53ee-11ea-845d-54599ad31ff6.png">

[2020-02-20 06:40] Torgian commented on #39
@consento-org/design Is the above screenshot link style for the funding page acceptable?

[2020-02-20 13:45] martinheidegger commented on #45
Its a start. :)

[2020-02-20 13:45] #45 closed, assigned to Torgian

[2020-02-20 13:46] martinheidegger commented on #39
Should be alright.

[2020-02-20 15:23] #39 closed, assigned to marcchataigner, Tannybunny

[2020-02-21 01:33] Torgian commented on #26
Refer to commit [322342](https://github.com/consento-org/consento-website/pull/67/commits/322342cce087d4f4b2c7af13d5d8e05a071c87b2)

Mobile:
<img width="333" alt="Screen Shot 2020-02-21 at 9 24 42 AM" src="https://user-images.githubusercontent.com/8596793/74995871-063cef00-548d-11ea-829e-c2bead497e6b.png">

<img width="322" alt="Screen Shot 2020-02-21 at 9 24 47 AM" src="https://user-images.github

[2020-02-21 01:50] Torgian commented on #26
Reverted "Develop" back to in progress to match original design. Commit [here](https://github.com/consento-org/consento-website/pull/67/commits/969ea108d704b6e7e6dd6b47c517b5ac4db73cf3)

<img width="1076" alt="Screen Shot 2020-02-21 at 9 49 59 AM" src="https://user-images.githubusercontent.com/8596793/74996808-8a907180-548f-11ea-97ca-7276ce26891c.png">

[2020-02-21 01:55] Torgian commented on #26
Adjusted bottom border color opacity. [Commit here](https://github.com/consento-org/consento-website/pull/67/commits/6120c39b3442980c80180a65d285a83a934dbd1f)

<img width="373" alt="Screen Shot 2020-02-21 at 9 54 49 AM" src="https://user-images.githubusercontent.com/8596793/74997115-549fbd00-5490-11ea-96fd-1d11598889f2.png">

[2020-02-21 02:03] Tannybunny opened #71 "Update value icons"
Change the value icons to icons we made

[2020-02-21 02:26] Torgian opened #72 "Fix spacing issues"
Update: Refer to PR #73
Upon reviewing the page as it stands, there are still a few spacing issues in a few spots.

Too much space below "How does it work" and the icons.
<img width="1114" alt="Screen Shot 2020-02-21 at 10 13 00 AM" src="https://user-images.githubusercontent.com/8596793/74998150-edcfd300-5492-11ea-84d8-82e45bf02200.png">

A bit too much pace below " Our solution " and the paragrap

[2020-02-21 02:59] Tannybunny commented on #21
The following images are still blured/low resolution
![Screen Shot 2020-02-21 at 11 54 00](https://user-images.githubusercontent.com/51223963/75000320-60e04600-54a1-11ea-9441-14c70e78ea57.jpg)
:

The last one with the text is especially problematic since the blurry text is hard to read, I don't have the original file of this , @marcchataigner can you maybe export this as svg or send me the vector

[2020-02-21 03:10] Torgian commented on #21
@Tannybunny While discussing with Martin, the images remained as PNGs due to faster rendering.  SVGs are sharper though, so I can swap all images out for the SVGs since they will remain sharper.

I do recall making a source set for the how it works section, but it looks like it was overridden someplace.

Also, I have all the svgs to make the swap. I can do this after lunch.

*EDIT* @Tannybunny the

[2020-02-21 03:18] Torgian opened #74 "Reduce Funding Text font"
Funding text font is too large in relation to others. Designed font size is 21px, but should be reduced.

<img width="1026" alt="Screen Shot 2020-02-21 at 11 17 54 AM" src="https://user-images.githubusercontent.com/8596793/75001262-d517eb00-549b-11ea-8e81-9ce52877bc2b.png">

[2020-02-21 05:15] Torgian commented on #74
@Tannybunny @martinheidegger I reduced font-size for funding area to 18px. Refer [c76922](https://github.com/consento-org/consento-website/commit/c769227394b7180666054812bd901046551b91b3)

<img width="1026" alt="Screen Shot 2020-02-21 at 1 13 44 PM" src="https://user-images.githubusercontent.com/8596793/75006256-19ab8280-54ac-11ea-9cfa-9aea1ce9e3f4.png">

[2020-02-21 05:23] Torgian commented on #21
@Tannybunny I've replaced the pngs with svgs in the How It Works section. See [aa51b0eb](https://github.com/consento-org/consento-website/commit/aa51b0ebd6e3531f8cb84d87b19b5df54c5f77cc) You should be able to see it on the live website shortly.

I will write a new issue for the rest of the images, since this issue is specifically for the How It Works section.

[2020-02-21 05:32] Torgian opened #75 "Replace png images with svgs"
Refer to #21 for short conversation with @Tannybunny .

All the images that are pngs should be swapped out for SVGs to help with sharpness on all resolutions. The problem is that lower resolution images are blurry.

[2020-02-21 05:39] Torgian commented on #75
@consento-org/design Do we have an image to replace the smartphone?

<img width="1198" alt="Screen Shot 2020-02-21 at 1 38 14 PM" src="https://user-images.githubusercontent.com/8596793/75007276-90964a80-54af-11ea-875e-027e142f6b6d.png">

I only have the single .png file for the smartphone, and I think Martin wants to replace it with an android version anyway.

[2020-02-21 06:26] Tannybunny commented on #21
We also have the PNGs in different resolutions for different screens, does it make sense to use that ? I don't know what is better in terms of performance, but it would be nice to have sharp images :D now they look good

the image of the two people swinging around needs to be an svg or high resolution png though, the image can be found in the repository its called human-centric.svg / human-centric

[2020-02-21 06:30] #44 closed, assigned to nobody

[2020-02-21 06:31] marcchataigner-zz commented on #31
I leave it to @Tannybunny  For me it does the job.   :-)

[2020-02-21 06:38] marcchataigner-zz commented on #26
Thanks a lot! It is a great idea to cut the image sot he mobile version size remains readable.

- [x] Regarding the positioning, having the `consento` of `consento roadmap` middle-aligned with `backlog` & `In Progress` is great. so eve in tablet mode or middle size screens, there is still visually an alignment.
- [x] Regarding the bar colour, I would put is in a grey tone, or just skip it even.

[2020-02-21 07:31] Tannybunny commented on #75
Right, I can prepare a new image for that

[2020-02-25 00:57] #49 closed, assigned to nobody

[2020-02-25 01:12] Torgian commented on #21
@Tannybunny Refer to [f224f03](https://github.com/consento-org/consento-website/pull/67/commits/f224f0311b4eda5c2500bda6b2460e01b5667e00). I added a source set for that specific image in the PR. We can keep this issue open until the PR is merged.

[2020-02-26 02:10] Torgian opened #77 "Remove margins from Supporter page Consento logo"
The Consento logo in the top menu bar has margins in the Supporter page, which makes the nav bar too large in the Supporter page. Remove these margins.

[2020-02-26 03:47] Tannybunny commented on #71
Value icons were updated, now they should be scaled up a little bit for example to
[code]

?

@Torgian

[2020-02-26 05:42] martinheidegger opened #79 "Team member display broken"
The team member display cuts off the top of avatars and the icons are red

<img width="1190" alt="Screen Shot 2020-02-26 at 14 39 54" src="https://user-images.githubusercontent.com/914122/75315381-f9156b00-58a5-11ea-965f-0edeeca765f1.png">

[2020-02-26 05:45] martinheidegger opened #80 "Bold is too heavy"
The bold font used in most of the content seems to be be the ExtraBold font when the SemiBold would would suffice.

---

<img width="229" alt="Screen Shot 2020-02-26 at 14 43 23" src="https://user-images.githubusercontent.com/914122/75315562-65906a00-58a6-11ea-9d36-062fb9e212a4.png" style="border: 1px solid black">

---

<img width="843" alt="Screen Shot 2020-02-26 at 14 43 17" src="https://user-i

[2020-02-26 05:49] martinheidegger commented on #36
Closed in https://github.com/consento-org/consento-website/commit/6cb578334058a44f7bcba3cd935d370b31315850

[2020-02-26 05:49] #36 closed, assigned to Tannybunny

[2020-02-26 05:50] #31 closed, assigned to marcchataigner, Tannybunny

[2020-02-26 06:18] #41 closed, assigned to nobody

[2020-02-26 06:21] martinheidegger opened #81 "Add OpenCollective to icons & in the content"
Now that consento has an [open collective page](https://opencollective.com/consento), it would be good to add it to the bottom icons and as a section in the text.

- [x] Define text for landing
- [x] Add link to the bottom

[2020-02-26 06:49] marcchataigner-zz commented on #81
- [x] link: https://opencollective.com/consento#section-contribute
- [x] section title proposal: Support the initiative
- [x] text proposal: Consento is an open initiative for the Next Generation Internet. Even if you are not a developer, you can be part of it by supporting the initiative on Open Collective.

[2020-02-26 06:52] marcchataigner-zz commented on #81
Proposal of visual
- [ ]  ![Screen Shot 2020-02-26 at 15 51 13](https://user-images.githubusercontent.com/3974900/75319427-fcadef80-58af-11ea-9f62-f5c91f23ba87.png)

- [ ] ![Screen Shot 2020-02-26 at 15 51 42](https://user-images.githubusercontent.com/3974900/75319532-34b53280-58b0-11ea-8fb8-10f2f79322e2.png)

[2020-02-26 08:09] Torgian commented on #79
[Commit b15c606](https://github.com/consento-org/consento-website/commit/b15c606efcfb657687059f8ca19015cde52d554e)

<img width="1352" alt="Screen Shot 2020-02-26 at 4 08 37 PM" src="https://user-images.githubusercontent.com/8596793/75324636-5adbd200-58b2-11ea-8f95-5aed332e57f1.png">

[2020-02-26 08:22] Torgian commented on #80
Refer to commit [87ece96](https://github.com/consento-org/consento-website/commit/87ece9697ebc9995afecc48231ca9394b0a7c9f9). Fixes bold styling by reducing to semi-bold. The styling underneath Daniel's team section uses a `p` element, so I need to take some time to see where else this declaration is affecting.

<img width="811" alt="Screen Shot 2020-02-26 at 4 21 06 PM" src="https://user-images.gi

[2020-02-26 08:45] Torgian commented on #79
I changed the colors of the icons and hover color as well in https://github.com/consento-org/consento-website/commit/c4230c1d2165802bc57b4088990ab77ea99225db. However, since there is no design for this, @marcchataigner @Tannybunny are these colors ok?

[code]

<img width="1098" alt="Screen Shot 2020-02-26 at 4 43 55 PM" src="https://user-images.githubusercontent.com/8596793/75327355-38988300-58b7-

[2020-02-26 08:46] Torgian commented on #79
<img width="226" alt="Screen Shot 2020-02-26 at 4 46 41 PM" src="https://user-images.githubusercontent.com/8596793/75327569-962ccf80-58b7-11ea-9bec-466abf252746.png">

[2020-02-26 10:59] Torgian commented on #80
<img width="815" alt="Screen Shot 2020-02-26 at 6 58 18 PM" src="https://user-images.githubusercontent.com/8596793/75338636-02b0ca00-58ca-11ea-87bb-cd9ad38aa0cf.png">

Commit [here](https://github.com/consento-org/consento-website/commit/736bfce6da76cfa941e8155f2e8638a31674c71e)

[2020-02-26 11:16] Torgian commented on #26
This isn't 100% responsive, but tablet mode on iPad and such is good.  [commit ](https://github.com/consento-org/consento-website/commit/267a0723fd90fe90bca13d613555f088f11b818c)

Tablet:

<img width="773" alt="Screen Shot 2020-02-26 at 7 09 28 PM" src="https://user-images.githubusercontent.com/8596793/75339508-9f279c00-58cb-11ea-8a2e-bc46486c6d84.png">

Laptop:

<img width="996" alt="Screen Shot

[2020-02-26 11:19] #77 closed, assigned to nobody

[2020-02-26 11:20] #74 closed, assigned to Torgian

[2020-02-26 11:24] Torgian commented on #71
Refer [commit](https://github.com/consento-org/consento-website/commit/e07b534b3b8cf7b38f15555bcdf2c5061b92004c)

<img width="1088" alt="Screen Shot 2020-02-26 at 7 23 16 PM" src="https://user-images.githubusercontent.com/8596793/75340455-7c968280-58cd-11ea-9758-bf7276870f93.png">

@Tannybunny  please review / close as needed. It's on the live site so you can see it there.

[2020-02-26 11:25] Torgian commented on #21
PR is merged. Closing.

[2020-02-26 11:25] #21 closed, assigned to Torgian

[2020-02-26 11:25] #22 closed, assigned to Torgian

[2020-02-26 11:25] #26 closed, assigned to nobody

[2020-02-26 11:37] Torgian commented on #81
I added the new section, but do not have an image with the Consento logo in the middle, so I used the diversity image.

See [](https://github.com/consento-org/consento-website/commit/f9ea05bbb2012a0469df77a15f08e844f794fe92)

<img width="1321" alt="Screen Shot 2020-02-26 at 7 33 49 PM" src="https://user-images.githubusercontent.com/8596793/75341421-5d005980-58cf-11ea-9a30-1d59e81d0ca9.png">
<img w

[2020-02-26 11:38] #13 closed, assigned to Torgian

[2020-02-26 11:40] Torgian commented on #81
@marcchataigner Can you confirm if this is ok? The new section is on the live site.

[2020-02-26 11:55] martinheidegger commented on #79
The underline is a bit irking & also, why this color? I havn't seen it anywhere else?! Is `fg-link` used for links in the _foreground_?

[2020-02-26 11:57] martinheidegger commented on #80
It is still heavy in the the blog subtitle:
<img width="713" alt="Screen Shot 2020-02-26 at 20 57 06" src="https://user-images.githubusercontent.com/914122/75342878-9ee2cd00-58da-11ea-8c17-dc55757b554f.png">

[2020-02-26 12:00] martinheidegger opened #84 "First image cut-off on < 1200px"
When the site is <1200px the first image gets cut-off on the main page.

<img width="921" alt="Screen Shot 2020-02-26 at 20 53 03" src="https://user-images.githubusercontent.com/914122/75342983-d81b3d00-58da-11ea-8fed-e4d07aa4ecf4.png">

[2020-02-26 12:05] Torgian commented on #84
[Commit here](https://github.com/consento-org/consento-website/commit/0d0f0106b77454b040449d1037ce86352d1edb30) Fixes this under 1200px.

[2020-02-26 12:10] martinheidegger opened #85 "Roadmap break should occur ealier"
The roadmap block is turned from horizontal

---

<img width="359" alt="Screen Shot 2020-02-26 at 21 08 01" src="https://user-images.githubusercontent.com/914122/75343561-1cf3a380-58dc-11ea-86cf-109f5510d284.png">

---

to vertical at <576px

---

<img width="516" alt="Screen Shot 2020-02-26 at 21 09 16" src="https://user-images.githubusercontent.com/914122/75343677-51fff600-58dc-11ea-9eda-856ba5b

[2020-02-26 12:12] Torgian commented on #80
[Commit](https://github.com/consento-org/consento-website/commit/a347f84449bc88cc6ab2692265e32c9a88832e4a)

<img width="658" alt="Screen Shot 2020-02-26 at 8 12 22 PM" src="https://user-images.githubusercontent.com/8596793/75343864-52948e80-58d4-11ea-9c42-38a87cc82d89.png">

[2020-02-26 12:53] Torgian commented on #79
There are no other colors for the icons, other than a white color with an opacity that is being used in the footer. I have not seen a color to be used for these icons, so I thought a gray color would be nice, since it somewhat matches the footer icon colors.

@marcchataigner when you get a chance, please let us know of a good color to choose. Or @martinheidegger feel free to let me know which colo

[2020-02-26 12:55] Torgian commented on #85
I've got a fix, but will need to work on this moree tomorrow.

[2020-02-26 13:00] marcchataigner-zz commented on #81
@Torgian great, good idea for the image!

- [x] I would just set the image size 50% pr 60% of its current size
- [x] Maybe write `support the consento initiative` in the title (what do you think?)
- [x] what if the Open Collective link is a blue button instead, centred?

[2020-02-26 13:01] #84 closed, assigned to Torgian

[2020-02-26 13:08] marcchataigner-zz commented on #79
@Torgian nice, I like the grey. @martinheidegger 's cap looks outstanding.   :-D

Did you try perhaps with the consento light blue or light magenta?

As for me, this nice warm grey works for me.   :-)

[2020-02-26 13:12] Torgian commented on #85
See [commit](https://github.com/consento-org/consento-website/commit/c27743f0653813aa2c65c2973a051e284a4c3a8e)

Breaks into single / dual column mode in awkward resolutions
<img width="850" alt="Screen Shot 2020-02-26 at 9 11 25 PM" src="https://user-images.githubusercontent.com/8596793/75347869-b6bb5080-58dc-11ea-94a9-e58be6311757.png">

[2020-02-26 13:22] Torgian commented on #81
<img width="1236" alt="Screen Shot 2020-02-26 at 9 21 42 PM" src="https://user-images.githubusercontent.com/8596793/75348531-01899800-58de-11ea-80b9-7ff163e4e550.png">

[2020-02-26 13:22] Torgian commented on #81
@marcchataigner Pushed the change.

[2020-02-26 13:31] Torgian commented on #79
[Commit](https://github.com/consento-org/consento-website/commit/44f5b0aa1faa0de99ce04d5b556bb6de431cd457
<img width="301" alt="Screen Shot 2020-02-26 at 9 30 09 PM" src="https://user-images.githubusercontent.com/8596793/75349197-47932b80-58df-11ea-9b41-95709bc92666.png">
)

[2020-02-26 13:39] Torgian opened #87 "Idea: Make smartphone GIF"
Current image in the Our Solution area is an image. What if we made it an animated gif going through the sequence of a user asking for consent and giving consent?

[2020-02-26 14:15] marcchataigner-zz commented on #81
Good good good.   :-)

Maybe just end the sentence with "... supporting the initiative on Open Collective."

Does it work if the label on the button is "Go to Open Collective"? Or too long?

But, whatever you implement, good to me.    👍

[2020-02-26 14:41] #85 closed, assigned to Torgian

[2020-02-26 14:41] #80 closed, assigned to Torgian

[2020-02-26 15:25] #79 closed, assigned to Torgian

[2020-02-27 00:07] Torgian commented on #81
Refer to [0d46f](https://github.com/consento-org/consento-website/commit/0d46f0caa6d6f49384c96e813c20a098149a043e)

<img width="513" alt="Screen Shot 2020-02-27 at 8 02 41 AM" src="https://user-images.githubusercontent.com/8596793/75399786-2c083f00-5938-11ea-88a2-8a7ed5fc9362.png">

[2020-02-27 00:09] Torgian commented on #75
Closing since a new phone image has been added.

[2020-02-27 00:09] #75 closed, assigned to Torgian, Tannybunny

[2020-02-27 00:16] #81 closed, assigned to marcchataigner

[2020-02-27 01:25] Tannybunny commented on #87
I like the idea :) !

[2020-02-27 01:57] Tannybunny commented on #71
Sorry, after checking on the website I feel they could even be a bit bigger 😅
I tried with 150px width/height and that looks better I think? Also, is it possible to reduce the space between "our values" headline and the 5 elements a bit? Basically that orange margin as shown in the screenshot. The icons also seem to have some bottom margin, is it possible to remove that? I think it would look bett

[2020-02-27 03:25] Tannybunny commented on #72
I agree these spacings need to be fixed.
I made an example for the "our solution" section, which first of all should not be aligned to the right, this never looks good.

If possible, I would align them to the left and center the whole text block with the image.
The space between "h2 "and "p" is 30 pixel and the space between "p" and the button is 60 pixel.
Also I think it might be good to change t

[2020-02-27 06:01] Tannybunny opened #89 "<p> size and line height"
Looking through the long texts on the website I realized the body text needs adjustment.
I suggest making it overall a bit smaller and increasing the line height for better readability of long text.
I found this might be suitable:
    font-size: 1.4em;
    line-height: 1.6em;

![font size and line height](https://user-images.githubusercontent.com/51223963/75416583-f4b68400-5971-11ea-9b01-d5d70cce9

[2020-02-28 04:51] dkastl opened #91 "Privacy Policy"
I think our website is missing some legal required information like Privacy Policy.

[2020-03-01 13:23] dkastl opened #93 "Open Collective widget"
We could an Open Collective Donate widget as described in their docs:
https://docs.opencollective.com/help/collectives/widgets

[2020-03-02 02:43] dkastl commented on #93
@marcchataigner , not sure where this would make sense

[2020-03-02 02:50] marcchataigner-zz commented on #93
yes, maybe for a start we could just change the current `go to open collective` by a `Donate to our collective` ?

For a start, there will be not much donors or backers, so not much else to display.

![Screen Shot 2020-03-02 at 11 47 18](https://user-images.githubusercontent.com/3974900/75641510-d4d9d580-5c7b-11ea-9248-61b3b9fd33b5.png)

[code]

[2020-03-02 03:35] martinheidegger commented on #60
Fixed in #90

[2020-03-02 03:35] #60 closed, assigned to marcchataigner, Tannybunny

[2020-03-02 03:39] Tannybunny opened #94 "Update catch illustration"
It seems like Marco is not able to catch Martina - change their posture so it looks more trustworthy and safe.

[2020-03-03 02:34] Torgian commented on #89
Refer to [1ae76ca](https://github.com/consento-org/consento-website/commit/1ae76cae942c519d909ed23d477b5018fc15e5f4)

This changes the paragraph element to your specifications. Note this affects the home page as well, not just blog posts. However, this does not affect the footer text.

The above push is live on the website now, so you can review it there too.

<img width="904" alt="Screen Shot 202

[2020-03-03 02:43] Tannybunny commented on #89
I think overall it looks good, at least better :D I guess it's good to also apply it to the funding text, to distinguish it further from the footer links.
There are some spacing issues though between "p" and "h2" .. should I open a separate issue for that?

[2020-03-03 02:50] Tannybunny opened #95 "Content width of about, team and supporters pages"
The content of the about, team and supporters pages should be a bit smaller. I suggest to use the same width for the text as for the blog posts, it will make the text more pleasant for the eye. 👁

[2020-03-03 02:54] Torgian commented on #71
Refer to the following commits for fixes: [3e3ff60](https://github.com/consento-org/consento-website/commit/3e3ff6038400b6e8efbba10d410ee41c1cccb9e4), [0d945af](https://github.com/consento-org/consento-website/commit/0d945af778da32b6d4b840e2cd9919afc04b1be5) and https://github.com/consento-org/consento-website/commit/445a0d387de050909fa275d742699408da0c6b0c

Screenshot after fixes:

<img width="12

[2020-03-03 03:13] Torgian commented on #95
Refer to https://github.com/consento-org/consento-website/commit/2d60b9d6727b8e6c6da0322c4872a328abfa9dfd

<img width="1141" alt="Screen Shot 2020-03-03 at 11 11 21 AM" src="https://user-images.githubusercontent.com/8596793/75739516-0320e900-5d40-11ea-87fc-a2c89b71ecad.png">

[2020-03-03 03:14] Torgian commented on #72
Refer to https://github.com/consento-org/consento-website/commit/2d60b9d6727b8e6c6da0322c4872a328abfa9dfd for another fix

[2020-03-03 03:33] Torgian commented on #89
Modified footer text here: https://github.com/consento-org/consento-website/commit/d7de4ac58fafc89058ab5ef1e1a6b98bfcb19bcc

[2020-03-03 04:21] #95 closed, assigned to Torgian

[2020-03-03 04:22] #89 closed, assigned to Torgian, Tannybunny

[2020-03-03 05:33] #71 closed, assigned to Torgian, Tannybunny

[2020-03-03 05:57] Tannybunny opened #97 "Mobile view align text to the left"
Text that is longer than a few words should be aligned to the left. In the case of icons and "how it works" we should keep it centered, but the short passages should be aligned to the left if it's possible to define two different behaviours. For mobile the "p" font size could actually be a bit smaller, but if it's quite some work to implement this, we can keep the current size but still align it t

[2020-03-03 07:12] Tannybunny opened #98 "Mobile view front page"
I think the current view when opening the consento mobile view is not so great at the moment.
I dont know if it's possible to define other H1 settings for the mobile view, if it's possible I'd suggest making the font a lot smaller , like  in the attached picture. Also if possible not cut the illustration , maybe make it smaller.

![Screenshot_20200303-120513 copy](https://user-images.githubusercon

[2020-03-03 07:41] Tannybunny opened #99 "Rearrange Consento Roadmap elements"
I suggest to make the Roadmap section more coherent with the other sections, by rearranging some elements a bit. I would use "consento roadmap" as a centered headline just like with the other content.
The illustration should be centered below that. (there is also a new version of that illustration, see #94 , but that will probably update automatically once the branche is merged)

<img width="790"

[2020-03-04 03:02] Torgian commented on #99
@Tannybunny I made some changes and pushed them. Here are some screenshots.

Large screen:

<img width="1471" alt="Screen Shot 2020-03-04 at 10 53 29 AM" src="https://user-images.githubusercontent.com/8596793/75840928-75103580-5e07-11ea-9e20-416216e46d84.png">

Mobile:

<img width="468" alt="Screen Shot 2020-03-04 at 10 45 45 AM" src="https://user-images.githubusercontent.com/8596793/75840951-8063

[2020-03-04 03:22] Torgian commented on #97
@Tannybunny I did as you asked for longer text elements in the home page, and also reduced the `p` element font size to 18px for the mobile size.

For a few sections with shorter lengths of text, I did not change. Can you review please? Here are a couple of screen shots, but it should be on the live website whenever it updates.

<img width="497" alt="Screen Shot 2020-03-04 at 11 21 27 AM" src="htt

[2020-03-04 03:25] #70 closed, assigned to Torgian

[2020-03-04 03:28] Torgian commented on #94
This has been updated in #96 and #99 . Closing issue.

[2020-03-04 03:28] #94 closed, assigned to Tannybunny

[2020-03-04 04:24] Torgian commented on #98
@Tannybunny I have modified this. I have also changed the font size for the other heading titles to match better with the sizing you requested, so please review. Here are a couple of screenshots of the landing page.

iPhone 5, 6, 6+ sizes following.

<img width="320" alt="Screen Shot 2020-03-04 at 12 15 25 PM" src="https://user-images.githubusercontent.com/8596793/75845082-f5886380-5e12-11ea-98e5-

[2020-03-04 04:38] Torgian commented on #97
In the interest of realigning text, I've changed the text alignment for the larger views for 'Our Solution'. Commit here: https://github.com/consento-org/consento-website/commit/86aa81e408aafb1143060e2c972ee1c42b52e6d3

Screenshots of new view:

<img width="1449" alt="Screen Shot 2020-03-04 at 12 37 29 PM" src="https://user-images.githubusercontent.com/8596793/75845739-0639d900-5e15-11ea-8988-aa81

[2020-03-04 04:49] Torgian commented on #97
Due to some earlier changes, I had to change the image sizes / margins in tablet views. See https://github.com/consento-org/consento-website/commit/2d275c827d0b3a60476edbfea328b46617bd262b

Screen:

<img width="711" alt="Screen Shot 2020-03-04 at 12 46 38 PM" src="https://user-images.githubusercontent.com/8596793/75846194-83b21900-5e16-11ea-80de-390c3c599f84.png">

[2020-03-04 05:15] Torgian commented on #98
Please refer to commit https://github.com/consento-org/consento-website/commit/3ecc790aa72a94ec851e6a9216bbe17315fed28d

I had to adjust image media queries a bit for spacing and sizing due to the changes in the h1 text element, especially for larger screens. Screen:

<img width="871" alt="Screen Shot 2020-03-04 at 1 13 44 PM" src="https://user-images.githubusercontent.com/8596793/75847460-38016e8

[2020-03-04 13:47] martinheidegger opened #100 "Support koenig-cards"
The ghost editor adds koenig-cards when you add a link with ogp data to the the content.

Currently it is rendered as below:

<img width="937" alt="Screen Shot 2020-03-04 at 22 36 46" src="https://user-images.githubusercontent.com/914122/75885478-f00a3800-5e69-11ea-84cd-aaf9917617a6.png">

Should be rendered in a way that is easier to handle

[2020-03-04 13:48] martinheidegger commented on #100
Fixed in 97f3cdd7f131c40f6645a260338defcf7486fa68

<img width="727" alt="Screen Shot 2020-03-04 at 22 48 13" src="https://user-images.githubusercontent.com/914122/75885684-4aa39400-5e6a-11ea-9bc7-dc94ae0ea5a1.png">

[2020-03-04 13:48] #100 closed, assigned to nobody

[2020-03-04 15:33] martinheidegger commented on #91
Added privacy policy link in 67cb7ec55a630a4fc8b45101a4dfb71a78ad438d

[2020-03-04 16:29] martinheidegger commented on #93
Added this to the supporter page:
<img width="843" alt="Screen Shot 2020-03-05 at 01 28 18" src="https://user-images.githubusercontent.com/914122/75900740-bc86d800-5e80-11ea-8ad3-98e947ebcc6f.png">

[2020-03-04 16:29] #93 closed, assigned to nobody

[2020-03-04 20:06] martinheidegger opened #101 "404 page broken"
The 404 page of the website is in disarray ↓ but what is worse is that the pages are not setup for dat or netlify; see https://github.com/consento-org/dat-ssg/issues/1

<img width="1319" alt="Screen Shot 2020-03-05 at 05 00 00" src="https://user-images.githubusercontent.com/914122/75918407-02529900-5e9f-11ea-9744-3f688b6fc557.png">

[2020-03-05 11:19] Tannybunny commented on #99
lgtm

[2020-03-05 11:19] #99 closed, assigned to Torgian

[2020-03-05 11:42] Tannybunny commented on #97
The left aligned text is good. But on mobile all h2 are very small now, but it looks weird compared to  h3 etc. For example "our values" is relatively small compared to "privacy by design" , which is weird because it should be the other way around.

[2020-03-05 11:45] Tannybunny commented on #98
looks good on mobile but maybe now on desktop the top page illustration and text are a bit too close to the navigation? 🙈

[2020-03-05 11:46] Tannybunny commented on #101
Should I make a quick Illustration for that? :)

[2020-03-05 11:47] Tannybunny commented on #72
Is it possible to center the "our solution" text with the image of the phone ?

[2020-03-05 11:52] Tannybunny commented on #72
Also, I think due to recent changes the positioning of the "Co-ownership of confidential data." illustration (mountain in the background) changed a bit, it's now a bit too close the previous content. If possible, move it a bit more downwards, best would be to center it with the text

[2020-03-05 23:38] martinheidegger commented on #101
@Tannybunny always welcome 😉

[2020-03-05 23:39] martinheidegger commented on #69
Closed in #88

[2020-03-05 23:39] #69 closed, assigned to Torgian

[2020-03-18 04:25] martinheidegger commented on #101
dat-ssg added support for 404 files and the server is updated. Can be updated in the ghost cms.

[2020-03-18 04:25] #101 closed, assigned to nobody

[2020-03-18 10:23] martinheidegger commented on #43
Current behavior is sufficient.

[2020-03-18 10:23] #43 closed, assigned to nobody

[2020-03-18 14:24] dkastl commented on #91
The link on the website does not point to the privacy policy.

[2020-03-18 19:29] martinheidegger commented on #91
Very interesting issue. I can not replicate this issue locally. Needs investigation.

[2020-03-19 00:52] Torgian commented on #52
I will work on this starting today.

[2020-03-20 09:16] martinheidegger commented on #91
Fixed with 1.1.2 release of dat-ssg

[2020-03-20 09:16] #91 closed, assigned to nobody

[2020-04-01 10:24] #97 closed, assigned to Torgian

[2020-04-01 10:24] #98 closed, assigned to Torgian

[2020-04-05 07:39] martinheidegger opened #107 "SVG's on website are broken"
The svg's on the consento homepage do get served by netlify, but they do not get displayed.

---

<img width="581" alt="Screen Shot 2020-04-05 at 16 30 33" src="https://user-images.githubusercontent.com/914122/78469296-d0ad4600-775a-11ea-88ab-55366ef4a760.png">

---

By judging the response headers, this is likely because the netlify server does not serve the svg with the appropriate content-type.

[2020-04-06 07:58] martinheidegger commented on #107
The problem occurred because the of an error which lead to the `/tmp` folder on the deploy server be filled and the `netlify.config` file couldn't be written to the disc anymore. See: https://github.com/consento-org/dat-ssg/issues/2

_Note_: A redeployment fixed this.

[2020-04-06 07:58] #107 closed, assigned to nobody

[2020-04-09 05:50] dkastl opened #108 "Review page titles"
The page title (in the HTML head) do not look consistent and could be done better.

-  "Consento" is it on the start page
-  "Consento (Page 1) on the blog page
-  The `/about` page has a very long title
-  Other content pages do not have "Consento" in the title like "Consento Team"
-  Blog posts just have the blog title

We could have some rule like
`<page title> | Consento` or `Consento - <page

[2020-09-11 01:03] dkastl opened #112 "Change Expo URL to new account"
When https://github.com/consento-org/mobile/issues/95 is completed and a new version of the app has been built on the new Expo account, then we need to update the download page as well: https://consento.org/download.html